<div>
    <div class="row">
        <div class="col-md-8 change-password">
            <!-- <h2>Change Password</h2> -->

            <form [formGroup]="frmChangePasssword" (ngSubmit)="save()" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">New Password</label>
                    <input type="password" class="form-control" placeholder="Your new password" formControlName="password">
                    <password-strength-bar [passwordToCheck]="frmChangePasssword.controls['password'].value"></password-strength-bar>
                    <validation-message [control]="frmChangePasssword.controls.password" [message]="'New Password'" [formSubmitted]="isFormSubmitted"></validation-message>

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New Confirmation Password</label>
                    <input type="password" class="form-control" placeholder="Your Confirmation Password" formControlName="confirmPassword">
                    <validation-message [control]="frmChangePasssword.controls.confirmPassword" [message]="'Confirm Password'" [formSubmitted]="isFormSubmitted"></validation-message>
                </div>

                <button type="submit" [disabled]="frmChangePasssword.invalid" class="btn save">Save</button>
            </form>
        </div>
    </div>

</div>