<div class="container-fluid login-container">
    <div class="row">
        <div class="col left-part text-center black-bg-left">
            <img src="assets/img/plaak-logo-trans.png" class="img-responsive" />
            <p>
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit"
            </p>
        </div>
        <div class="col right-part">
            <div class="col-md-8">
                <h1>Activation</h1>

                <div class="alert alert-success" *ngIf="success">
                    <span>
                        <strong>Your user account has been activated.</strong> Please </span>
                    <a class="alert-link" (click)="goToLogin()">sign in</a>.
                </div>
                <!-- <div class="alert alert-danger" *ngIf="error">
                    <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
                    <a class="alert-link" (click)="goToLogin()">sign in</a>.
                </div> -->
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <strong>{{errorMessage}}</strong>.
                    <a class="alert-link" (click)="goToLogin()">sign in</a>.
                </div>
            </div>
        </div>
    </div>
</div>