<div class="container">
    <h1>Support</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card email-box">
                <h5>Email Support</h5>

                <div *ngIf="ticketSuccess" class="alert alert-success">
                <strong>Ticket created!</strong> We are get back to you as soon as possible.
                </div>

                <form class="form-group" name="frmSupport" novalidate [formGroup]="frmSupport" (ngSubmit)="sendSupport()">
                
                    <select class="col-xs-12 form-control" formControlName="topic">
                        <option value="" disabled selected>Select a topic</option>
                        <option>PLK Token Not Received</option>
                        <option>Other Issues</option>
                        <option>Feedback</option>
                    </select>
                    <br/>
                    <textarea class="form-control feedback-text" placeholder="Message" formControlName="message" cols="30" rows="10"></textarea>
                    <button class="send-button pull-right btn">Send</button>
                </form>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card social-support">
                <h5>Social Box</h5>
                <div class="social-icons">
                    <div class="icon"><a href="https://www.facebook.com/groups/1269079126572130/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div>
                    
                    <div class="icon"><a href="https://discordapp.com/invite/tvckQM" target="_blank"><img src="assets/img/discord.png" alt=""></a></div>
                    
                    <div class="icon"><a href="https://twitter.com/Getplaakingnow" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>

                    <div class="icon"><a href="https://www.t.me/plaaktelegram" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></div>
                    
                    <div class="icon"><a href="https://www.reddit.com/r/Plaak/" target="_blank"><i class="fa fa-reddit-alien fa-2x" aria-hidden="true"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>