.email-box {
    padding: 20px;
    color: #ED3C24;
}

.feedback-text {
    height: 250px;
}

.send-button {
    color: #ffffff;
    background-color: #ED3C24;
    float: right;
    border-radius: 7px;
}

.social-support {
    padding: 10px;
    color: #ED3C24;
}

.social-icons div a {
    color: #ed3c24;
    text-decoration: none;
}

.social-icons {
    display: flex;
    padding-top: 16px;
}

.icon {
    flex: 1;
}