.dashboard-bg {
    background: #fafbfd !important;
    height: 100%;
}

.left-sidebar {
    padding-top: 20px;
    padding-left: 30px;
    background-color: #000;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item.active {
    color: #da3949;
}

.icon-bar {
    width: 100%;
}

.icon-bar a {
    display: block;
    transition: all 0.3s ease;
    color: #b3b3b3;
    font-size: 18px;
    border-right: 1px solid #000;
    padding-bottom: 8px;
    padding-left: 10px;
    border-left: 4px solid #000000;
    margin-bottom: 24px;
    padding-top: 8px;
    margin-left: 0px;
    outline: 0;
}

.icon-bar a:hover {
    text-decoration: none;
    background-color: #242424;
    color: #ffffff !important;
    border-radius: 7px;
}

.icon-bar a img {
    width: 30px;
    margin-right: 8px;
}

.active {
    
    /* border-left: 4px solid #ED3C24 !important; */
    fill: #ffffff !important;
    color: #ffffff !important;
    background-color: #ED3C24;
    border-radius: 7px;
}
.active path {
    fill: #ffffff !important;
}

.sidebar-link {
    /* padding: 4px 2px; */
    display: inline-block;
  }

  .sidebar-link svg {
    display: inline-block;
     vertical-align: middle;
  }

.sidebar-link span {
    margin-left: 25px;
}