<header-bar></header-bar>

<div class="dashboard-bg container-fluid">

    <div class="row" style="min-height: 100%;">
        <div class="col-md-3 left-sidebar" style="min-height: 100%;">
            <div class="icon-bar">
                <a class="sidebar-link" routerLink="/dashboard" routerLinkActive="active">
                    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Desktop-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-26.000000, -119.000000)">
                            <g id="Home" transform="translate(26.000000, 119.000000)" fill="#FFFFFF">
                                <g id="Group-3">
                                    <path d="M15,0.999875 C7.2675,0.999875 1,7.268625 1,14.999875 C1,22.732375 7.2675,28.999875 15,28.999875 C22.7325,28.999875 29,22.732375 29,14.999875 C28.99125,7.272375 22.72875,1.008625 15,0.999875 M15,29.999875 C6.71625,29.999875 0,23.284875 0,14.999875 C0,6.716125 6.71625,-0.000125 15,-0.000125 C23.28375,-0.000125 30,6.716125 30,14.999875 C29.99,23.279875 23.28,29.991125 15,29.999875"
                                        id="Fill-1"></path>
                                </g>
                                <path d="M15,4.00025 C14.8675,4.00025 14.74,3.94775 14.64625,3.854 C14.5525,3.76025 14.5,3.63275 14.5,3.50025 L14.5,2.50025 C14.5,2.224 14.72375,2.00025 15,2.00025 C15.27625,2.00025 15.5,2.224 15.5,2.50025 L15.5,3.50025 C15.5,3.63275 15.4475,3.76025 15.35375,3.854 C15.26,3.94775 15.1325,4.00025 15,4.00025"
                                    id="Fill-4"></path>
                                <path d="M27.75025,15.499875 L26.75025,15.499875 C26.474,15.499875 26.25025,15.276125 26.25025,14.999875 C26.25025,14.723625 26.474,14.499875 26.75025,14.499875 L27.75025,14.499875 C28.0265,14.499875 28.249,14.723625 28.249,14.999875 C28.249,15.276125 28.0265,15.499875 27.75025,15.499875"
                                    id="Fill-6"></path>
                                <path d="M3.2495,15.499875 L2.2495,15.499875 C1.97325,15.499875 1.75075,15.276125 1.75075,14.999875 C1.75075,14.723625 1.97325,14.499875 2.2495,14.499875 L3.2495,14.499875 C3.527,14.499875 3.7495,14.723625 3.7495,14.999875 C3.7495,15.276125 3.527,15.499875 3.2495,15.499875"
                                    id="Fill-8"></path>
                                <path d="M20.874,5.574375 C20.69525,5.574375 20.5315,5.478125 20.4415,5.324375 C20.35275,5.169375 20.35275,4.978125 20.4415,4.824375 L20.94275,3.958125 C21.0315,3.803125 21.1965,3.708125 21.374,3.708125 C21.554,3.708125 21.719,3.803125 21.80775,3.958125 C21.8965,4.113125 21.8965,4.303125 21.80775,4.458125 L21.309,5.324375 C21.21775,5.479375 21.054,5.574375 20.874,5.574375"
                                    id="Fill-10"></path>
                                <path d="M26.04125,22.12525 C25.95375,22.12525 25.8675,22.1015 25.7925,22.05775 L24.925,21.55775 C24.68625,21.42025 24.605,21.114 24.7425,20.87525 C24.88,20.6365 25.18625,20.554 25.42625,20.69275 L26.29125,21.1915 C26.4875,21.30525 26.58375,21.53525 26.525,21.75525 C26.46625,21.97275 26.26875,22.12525 26.04125,22.12525"
                                    id="Fill-12"></path>
                                <path d="M4.82425,9.874875 C4.73675,9.874875 4.64925,9.851125 4.57425,9.808625 L3.708,9.307375 C3.553,9.218625 3.458,9.053625 3.458,8.874875 C3.458,8.696125 3.553,8.531125 3.70675,8.442375 C3.86175,8.352375 4.053,8.352375 4.208,8.442375 L5.07425,8.941125 C5.2705,9.054875 5.36675,9.286125 5.308,9.504875 C5.24925,9.723625 5.0505,9.874875 4.82425,9.874875"
                                    id="Fill-14"></path>
                                <path d="M9.1235,5.55725 C8.9435,5.55725 8.77975,5.46225 8.6885,5.30725 L8.18975,4.441 C8.101,4.286 8.101,4.096 8.18975,3.941 C8.2785,3.786 8.4435,3.691 8.6235,3.691 C8.801,3.691 8.966,3.786 9.05475,3.941 L9.556,4.80725 C9.64475,4.96225 9.64475,5.15225 9.556,5.30725 C9.466,5.46225 9.30225,5.55725 9.1235,5.55725"
                                    id="Fill-16"></path>
                                <path d="M25.048875,9.64175 C24.822625,9.64175 24.623875,9.48925 24.565125,9.27175 C24.506375,9.053 24.602625,8.82175 24.798875,8.708 L25.663875,8.20925 C25.818875,8.11925 26.010125,8.11925 26.165125,8.208 C26.320125,8.298 26.415125,8.463 26.415125,8.64175 C26.415125,8.8205 26.320125,8.9855 26.165125,9.07425 L25.298875,9.57425 C25.223875,9.618 25.136375,9.64175 25.048875,9.64175"
                                    id="Fill-18"></path>
                                <path d="M3.83175,21.8915 C3.60425,21.8915 3.40675,21.74025 3.348,21.5215 C3.28925,21.30275 3.3855,21.0715 3.58175,20.95775 L4.44675,20.459 C4.60175,20.369 4.793,20.369 4.948,20.459 C5.10175,20.54775 5.19675,20.71275 5.19675,20.8915 C5.19675,21.07025 5.10175,21.23525 4.94675,21.324 L4.0805,21.824 C4.0055,21.86775 3.91925,21.8915 3.83175,21.8915"
                                    id="Fill-20"></path>
                                <path d="M15,13.439375 C14.59625,13.439375 14.23125,13.683125 14.07625,14.056875 C13.92125,14.430625 14.00625,14.860625 14.29375,15.146875 C14.68875,15.524375 15.31125,15.524375 15.70625,15.146875 C15.9925,14.860625 16.07875,14.430625 15.92375,14.056875 C15.76875,13.683125 15.40375,13.439375 15,13.439375 M15,16.439375 C14.19125,16.439375 13.4625,15.951875 13.15125,15.205625 C12.8425,14.456875 13.01375,13.596875 13.58625,13.025625 C14.3775,12.269375 15.6225,12.269375 16.41375,13.025625 C16.79,13.400625 17,13.908125 17,14.439375 C17,14.970625 16.79,15.478125 16.41375,15.853125 C16.04,16.229375 15.53125,16.440625 15,16.439375"
                                    id="Fill-22"></path>
                                <path d="M16.1365,13.96 C15.934,13.96 15.7515,13.8375 15.674,13.65125 C15.5965,13.465 15.64025,13.25 15.78275,13.10625 L20.30275,8.58625 C20.49775,8.39 20.81525,8.39 21.01025,8.58625 C21.2065,8.78125 21.2065,9.0975 21.01025,9.29375 L16.489,13.81375 C16.3965,13.9075 16.26775,13.96 16.1365,13.96"
                                    id="Fill-24"></path>
                                <path d="M14.873,26.2665 C14.7405,26.2665 14.613,26.319 14.51925,26.41275 C14.42675,26.5065 14.373,26.634 14.373,26.7665 L14.373,27.7665 C14.373,28.04275 14.59675,28.2665 14.873,28.2665 C15.14925,28.2665 15.373,28.04275 15.373,27.7665 L15.373,26.7665 C15.373,26.634 15.3205,26.5065 15.22675,26.41275 C15.133,26.319 15.0055,26.2665 14.873,26.2665"
                                    id="Fill-26"></path>
                                <path d="M20.747125,24.6925 C20.568375,24.6925 20.404625,24.7875 20.314625,24.9425 C20.225875,25.0975 20.225875,25.2875 20.314625,25.4425 L20.815875,26.30875 C20.904625,26.46375 21.069625,26.55875 21.247125,26.55875 C21.427125,26.55875 21.592125,26.46375 21.680875,26.30875 C21.770875,26.15375 21.770875,25.96375 21.680875,25.80875 L21.182125,24.9425 C21.090875,24.7875 20.927125,24.6925 20.747125,24.6925"
                                    id="Fill-28"></path>
                                <path d="M8.996625,24.708875 C8.816625,24.708875 8.652875,24.803875 8.561625,24.958875 L8.062875,25.825125 C7.974125,25.980125 7.974125,26.170125 8.062875,26.325125 C8.151625,26.480125 8.316625,26.575125 8.496625,26.575125 C8.674125,26.575125 8.839125,26.480125 8.927875,26.325125 L9.429125,25.458875 C9.517875,25.303875 9.517875,25.113875 9.429125,24.958875 C9.339125,24.803875 9.175375,24.708875 8.996625,24.708875"
                                    id="Fill-30"></path>
                            </g>
                        </g>
                    </svg>
                    <span>Home</span>
                </a>
                <a class="sidebar-link" routerLink="/referral" routerLinkActive="active">
                    <svg width="29px" height="28px" viewBox="0 0 29 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0.00024 0.96156 28.8 0.96156 28.8 28.8 0.00024 28.8"></polygon>
                        </defs>
                        <g id="Desktop-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-28.000000, -210.000000)">
                            <g id="Referral" transform="translate(28.000000, 209.000000)">
                                <g id="Group-3" transform="translate(0.000000, 0.238800)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M22.56144,27.84156 C20.80344,27.84156 19.24584,26.97396 18.28584,25.65036 C18.25104,25.59876 18.21504,25.54716 18.18144,25.49556 C18.15024,25.44876 18.11664,25.40196 18.08784,25.35516 C18.06984,25.32636 18.05424,25.29876 18.03624,25.26756 C18.00744,25.22316 17.98464,25.17636 17.95584,25.12956 C17.92824,25.07796 17.89584,25.02876 17.87064,24.97716 C17.85024,24.93516 17.83224,24.89316 17.81064,24.85116 C17.79264,24.81756 17.78064,24.78516 17.76264,24.75276 C17.73624,24.69636 17.70984,24.63996 17.68704,24.58356 C17.66904,24.54396 17.65584,24.50436 17.64024,24.46476 C17.60424,24.36996 17.56584,24.27396 17.53704,24.17556 C17.51424,24.11676 17.50104,24.05676 17.48544,23.99556 C17.45664,23.89956 17.43144,23.80356 17.40984,23.70516 C17.39664,23.65596 17.38704,23.60196 17.37744,23.55036 C17.37744,23.54316 17.37504,23.53596 17.37144,23.52636 C17.35344,23.42076 17.33664,23.31396 17.32224,23.20356 C17.31984,23.17236 17.31504,23.14236 17.31264,23.11236 C17.30904,23.08836 17.30664,23.06916 17.30424,23.04876 C17.28864,22.88676 17.28144,22.72476 17.28144,22.56156 C17.28144,22.34796 17.29344,22.13196 17.32224,21.91476 C17.32584,21.89316 17.33064,21.87396 17.33304,21.85596 C17.36304,21.64476 17.40264,21.43356 17.45904,21.21996 C17.46504,21.19716 17.47344,21.17076 17.47824,21.14796 L17.52144,20.98356 C17.62224,20.66316 17.75184,20.35596 17.90904,20.06556 L17.95824,19.98276 C17.98224,19.93836 18.01224,19.89636 18.03624,19.85196 C18.22824,19.53276 18.45264,19.23756 18.70344,18.96636 C18.72504,18.94236 18.74424,18.91836 18.76584,18.89796 C18.83664,18.82476 18.90984,18.75756 18.98304,18.68916 C19.02504,18.64956 19.06584,18.61236 19.10904,18.57396 C19.17744,18.51636 19.24344,18.45996 19.31424,18.40356 C19.37424,18.35916 19.43064,18.31716 19.48704,18.27396 C19.55184,18.22956 19.61424,18.18276 19.68144,18.14076 C19.76064,18.08916 19.84344,18.03996 19.92744,17.99076 C19.97664,17.96316 20.02584,17.93196 20.07504,17.90676 C20.21304,17.83116 20.35584,17.76156 20.50344,17.69796 L20.51064,17.69556 C21.13944,17.42796 21.83544,17.28036 22.56144,17.28036 C22.77504,17.28036 22.98624,17.29716 23.19864,17.32236 C23.24664,17.32956 23.29344,17.33916 23.34264,17.34636 C23.51664,17.37156 23.69184,17.40756 23.86344,17.44956 C23.89944,17.45916 23.93664,17.46756 23.97144,17.47716 C24.39504,17.59716 24.80424,17.76636 25.18944,17.98836 C26.76984,18.90276 27.83784,20.60676 27.83784,22.56156 C27.83784,25.47156 25.47144,27.84156 22.56144,27.84156 M16.72584,20.36796 L16.48224,20.21916 C16.47504,20.21556 16.44864,20.20116 16.39104,20.16156 L16.80264,20.16156 C16.77504,20.22636 16.75104,20.29956 16.72584,20.36796 M18.99024,17.44956 C18.95424,17.47476 18.91824,17.50356 18.88224,17.53116 C18.71304,17.65596 18.55104,17.78676 18.39504,17.92476 C18.36144,17.95836 18.32664,17.98836 18.29184,18.02076 C17.92584,18.36636 17.59944,18.75516 17.32224,19.17876 C17.31744,19.18596 17.31144,19.19316 17.30664,19.20036 L15.96984,19.20036 C15.62904,19.20036 15.33384,19.41636 15.21744,19.75116 C15.10104,20.08596 15.20424,20.45676 15.47424,20.66916 C15.81504,20.93916 15.95184,21.02316 16.00344,21.05196 L16.44264,21.31836 C16.36344,21.71916 16.31904,22.13436 16.31904,22.56156 C16.31904,22.70196 16.32504,22.83996 16.33464,22.97796 C16.33704,23.02716 16.34184,23.07636 16.34784,23.12556 C16.35264,23.17236 16.35744,23.21676 16.36224,23.26236 C16.36584,23.30436 16.36824,23.34876 16.37664,23.39076 C16.38384,23.45676 16.39584,23.51916 16.40904,23.58516 C16.41984,23.65596 16.43064,23.72796 16.44264,23.79876 C16.44264,23.80116 16.44504,23.80596 16.44504,23.80836 C16.44864,23.82396 16.45344,23.83596 16.45584,23.85276 C16.46424,23.89716 16.47984,23.94396 16.48704,23.99076 C16.50504,24.06156 16.52064,24.13116 16.53864,24.19956 C16.55184,24.24396 16.56504,24.28596 16.58064,24.33036 C16.59504,24.38436 16.61304,24.43596 16.62984,24.48996 C16.63944,24.52476 16.65024,24.56076 16.66224,24.59316 C16.68144,24.65196 16.70664,24.71076 16.72824,24.76596 C16.74504,24.81756 16.76424,24.86916 16.78704,24.91836 C16.81224,24.98196 16.83864,25.04316 16.86744,25.10196 L16.88664,25.14396 C16.91904,25.21476 16.95024,25.28436 16.98624,25.35516 C16.99584,25.37796 17.01144,25.40196 17.02344,25.42716 C17.06064,25.50036 17.10024,25.57236 17.14104,25.64316 C17.15424,25.66476 17.16264,25.68516 17.17584,25.70436 C15.87504,26.16396 14.52504,26.39796 13.15824,26.40036 C13.11504,26.40036 13.07424,26.39796 13.03224,26.39556 C12.80184,26.39556 12.57144,26.38116 12.34344,26.36676 C9.80184,26.19156 7.46904,25.23516 5.58624,23.73516 C5.77344,23.56236 5.97144,23.41596 6.18384,23.30916 L10.58304,21.42156 C10.93584,21.24396 11.15424,20.85276 11.36304,20.43036 C11.49504,20.16636 11.48064,19.85916 11.32224,19.60596 C11.16744,19.35276 10.89504,19.20036 10.59864,19.20036 L7.55184,19.20276 C7.53864,19.20276 6.49584,19.09716 5.71344,18.75996 C5.56344,18.69636 5.50344,18.64716 5.48544,18.64476 C5.49264,18.62316 5.51064,18.58356 5.55264,18.52236 C6.63864,16.97556 8.47344,13.89396 8.53584,10.64796 C8.53944,10.46556 8.68224,6.18996 13.01424,6.15516 C15.58944,6.17556 16.80984,7.68516 17.37744,8.94636 C17.66064,9.57636 17.82744,10.32876 17.88624,11.24316 C18.00744,13.04076 18.60744,15.03996 19.63224,17.05116 C19.62744,17.05596 19.62144,17.05836 19.61664,17.06316 C19.39944,17.17716 19.19184,17.30916 18.99024,17.44956 M0.96144,14.16156 C0.96144,7.41156 6.45024,1.91916 13.20024,1.91916 C19.95024,1.91916 25.43784,7.41156 25.43784,14.16156 C25.43784,15.07476 25.33704,15.98676 25.13544,16.87956 C25.12584,16.87716 25.11504,16.87476 25.10904,16.86996 C24.92904,16.78836 24.74184,16.71636 24.55344,16.65276 C24.53664,16.64796 24.51984,16.64076 24.50424,16.63596 C24.30744,16.56996 24.10584,16.51476 23.90184,16.46916 L23.87064,16.46316 C23.67144,16.41756 23.46744,16.38516 23.26224,16.36236 C23.24664,16.35996 23.23464,16.35756 23.21904,16.35516 C23.00184,16.33356 22.78464,16.31916 22.56144,16.31916 C21.84264,16.31916 21.16224,16.44636 20.51904,16.66836 C19.53624,14.75676 18.95664,12.86556 18.84504,11.17956 C18.77904,10.14876 18.58464,9.29076 18.25344,8.55276 C17.56824,7.03356 16.10664,5.21916 13.01424,5.19396 C7.75344,5.23596 7.57824,10.57236 7.57584,10.62636 C7.51584,13.73196 5.59104,16.79796 4.76664,17.97156 C4.54104,18.29076 4.47144,18.60036 4.55424,18.89316 C4.64424,19.20996 4.89864,19.45596 5.33544,19.64076 C6.25584,20.03676 7.40904,20.15436 7.50504,20.16156 L10.42584,20.16156 C10.34424,20.31636 10.23624,20.51316 10.17984,20.55036 L5.78064,22.43916 C5.43624,22.61076 5.13384,22.83756 4.86144,23.10756 C2.46264,20.87316 0.96144,17.68836 0.96144,14.16156 M25.99944,17.35836 C26.25984,16.31076 26.40024,15.23676 26.40024,14.16156 C26.40024,6.88116 20.48064,0.96156 13.20024,0.96156 C5.91984,0.96156 0.00024,6.88116 0.00024,14.16156 C0.00024,17.98836 1.63944,21.44076 4.25424,23.85516 L4.21824,23.90196 L4.55664,24.19236 C6.43224,25.79556 8.71224,26.82156 11.12424,27.19716 C11.29344,27.22236 11.46504,27.24396 11.63784,27.26556 C11.82744,27.28596 12.01344,27.30516 12.20424,27.31836 C12.48384,27.33996 12.76224,27.35436 13.04184,27.35676 C13.07424,27.35676 13.10424,27.36156 13.13304,27.36156 C13.14264,27.36156 13.15584,27.35916 13.16664,27.35916 C13.17984,27.35916 13.18704,27.36156 13.20024,27.36156 C14.76504,27.36156 16.29864,27.08436 17.76144,26.54316 C18.90744,27.92076 20.63304,28.80036 22.56144,28.80036 C26.00184,28.80036 28.80024,26.00196 28.80024,22.56156 C28.80024,20.39076 27.68544,18.47556 25.99944,17.35836"
                                        id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M25.43844,22.3194 L23.03844,22.3194 L23.03844,19.9194 C23.03844,19.6542 22.82604,19.4394 22.56204,19.4394 C22.29564,19.4394 22.08084,19.6542 22.08084,19.9194 L22.08084,22.3194 L19.68084,22.3194 C19.41444,22.3194 19.20084,22.5354 19.20084,22.7994 C19.20084,23.0646 19.41444,23.2806 19.68084,23.2806 L22.08084,23.2806 L22.08084,25.6806 C22.08084,25.9446 22.29564,26.1582 22.56204,26.1582 C22.82604,26.1582 23.03844,25.9446 23.03844,25.6806 L23.03844,23.2806 L25.43844,23.2806 C25.70484,23.2806 25.91844,23.0646 25.91844,22.7994 C25.91844,22.5354 25.70484,22.3194 25.43844,22.3194"
                                    id="Fill-4" fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </svg>
                    <span>Referral Program</span>
                </a>

                <a class="sidebar-link" routerLink="/transactions" routerLinkActive="active">
                    <svg width="27px" height="29px" viewBox="0 0 27 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0.000888888889 0.0255555556 26.6666667 0.0255555556 26.6666667 28.8888889 0.000888888889 28.8888889"></polygon>
                            <polygon id="path-3" points="0 29.9743333 26.6666667 29.9743333 26.6666667 1.111 0 1.111"></polygon>
                        </defs>
                        <g id="Desktop-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-28.000000, -256.000000)">
                            <g id="History" transform="translate(28.000000, 255.000000)">
                                <g id="Group-3" transform="translate(0.000000, 1.085444)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M22.7608889,6.12777778 C20.4664444,3.83222222 17.4808889,2.47666667 14.2731111,2.25555556 L15.8942222,0.634444444 L15.2853333,0.0255555556 L12.5731111,2.73777778 L15.2853333,5.45111111 L15.8942222,4.84222222 L14.1631111,3.11111111 C20.6542222,3.53888889 25.8064444,8.95666667 25.8064444,15.5555556 C25.8064444,22.4333333 20.2108889,28.0288889 13.3342222,28.0288889 C6.45533333,28.0288889 0.859777778,22.4333333 0.859777778,15.5555556 C0.859777778,15.2788889 0.869777778,14.9988889 0.886444444,14.7244444 L0.0286666667,14.6677778 C0.00977777778,14.9611111 0.000888888889,15.26 0.000888888889,15.5555556 C0.000888888889,19.1166667 1.38755556,22.4655556 3.90533333,24.9833333 C6.42311111,27.5022222 9.772,28.8888889 13.3342222,28.8888889 C16.8953333,28.8888889 20.242,27.5022222 22.7608889,24.9833333 C25.2797778,22.4655556 26.6675556,19.1166667 26.6675556,15.5555556 C26.6675556,11.9933333 25.2797778,8.64555556 22.7608889,6.12777778"
                                        id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M2.32788889,9.11155556 C2.16122222,9.35488889 2.00011111,9.60711111 1.85011111,9.86044444 L2.59011111,10.2993333 C2.73011111,10.0615556 2.88122222,9.826 3.03788889,9.59711111 L2.32788889,9.11155556 Z"
                                    id="Fill-4" fill="#FFFFFF"></path>
                                <path d="M3.42711111,7.71622222 C3.22933333,7.93511111 3.036,8.164 2.85377778,8.39511111 L3.53044444,8.92733333 C3.70044444,8.71177778 3.88044444,8.49733333 4.066,8.29288889 L3.42711111,7.71622222 Z"
                                    id="Fill-6" fill="#FFFFFF"></path>
                                <path d="M0.263,13.9916667 C0.204111111,14.2805556 0.155222222,14.5761111 0.116333333,14.8694444 L0.969666667,14.9816667 C1.00633333,14.7083333 1.05188889,14.4316667 1.10633333,14.1616667 L0.263,13.9916667 Z"
                                    id="Fill-8" fill="#FFFFFF"></path>
                                <path d="M4.701,6.47922222 C4.47655556,6.67033333 4.25544444,6.87144444 4.04322222,7.077 L4.64322222,7.69366667 C4.841,7.50033333 5.04766667,7.31255556 5.25877778,7.13477778 L4.701,6.47922222 Z"
                                    id="Fill-10" fill="#FFFFFF"></path>
                                <path d="M1.423,10.6404444 C1.29077778,10.9037778 1.16522222,11.176 1.04966667,11.4471111 L1.84188889,11.7826667 C1.94966667,11.5282222 2.06633333,11.2748889 2.19077778,11.0282222 L1.423,10.6404444 Z"
                                    id="Fill-12" fill="#FFFFFF"></path>
                                <path d="M0.730666667,12.2767778 C0.634,12.5556667 0.546222222,12.8412222 0.468444444,13.1267778 L1.29844444,13.3523333 C1.37066667,13.0867778 1.45288889,12.819 1.54288889,12.559 L0.730666667,12.2767778 Z"
                                    id="Fill-14" fill="#FFFFFF"></path>
                                <path d="M13.3934444,25.1831111 C8.66677778,25.1831111 4.82122222,21.3375556 4.82122222,16.6108889 C4.82122222,11.8842222 8.66677778,8.03866667 13.3934444,8.03866667 C18.1201111,8.03866667 21.9656667,11.8842222 21.9656667,16.6108889 C21.9656667,21.3375556 18.1201111,25.1831111 13.3934444,25.1831111 M13.3934444,7.17866667 C8.19233333,7.17866667 3.96122222,11.4097778 3.96122222,16.6108889 C3.96122222,21.812 8.19233333,26.0431111 13.3934444,26.0431111 C18.5945556,26.0431111 22.8256667,21.812 22.8256667,16.6108889 C22.8256667,11.4097778 18.5945556,7.17866667 13.3934444,7.17866667"
                                    id="Fill-16" fill="#FFFFFF"></path>
                                <mask id="mask-4" fill="white">
                                    <use xlink:href="#path-3"></use>
                                </mask>
                                <g id="Clip-19"></g>
                                <polygon id="Fill-18" fill="#FFFFFF" mask="url(#mask-4)" points="12.9033333 9.90211111 13.7633333 9.90211111 13.7633333 9.04211111 12.9033333 9.04211111"></polygon>
                                <polygon id="Fill-20" fill="#FFFFFF" mask="url(#mask-4)" points="12.9033333 24.1243333 13.7633333 24.1243333 13.7633333 23.2643333 12.9033333 23.2643333"></polygon>
                                <polygon id="Fill-21" fill="#FFFFFF" mask="url(#mask-4)" points="5.79111111 17.0132222 6.65111111 17.0132222 6.65111111 16.1532222 5.79111111 16.1532222"></polygon>
                                <polygon id="Fill-22" fill="#FFFFFF" mask="url(#mask-4)" points="20.0144444 17.0132222 20.8733333 17.0132222 20.8733333 16.1532222 20.0144444 16.1532222"></polygon>
                                <path d="M13.8774444,16.3761111 C13.8052222,16.3027778 13.763,16.2038889 13.763,16.1005556 L13.763,11.5083333 L12.903,11.5083333 L12.903,16.4572222 C12.903,16.5605556 12.9441111,16.6594444 13.0174444,16.7327778 L15.5807778,19.2961111 L16.1896667,18.6883333 L13.8774444,16.3761111 Z"
                                    id="Fill-23" fill="#FFFFFF" mask="url(#mask-4)"></path>
                            </g>
                        </g>
                    </svg>
                    <span>History</span>
                </a>
                <a class="sidebar-link" routerLink="/settings" routerLinkActive="active">
                    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Desktop-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-31.000000, -684.000000)">
                            <g id="settings-(1)" transform="translate(31.000000, 684.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <path d="M28.464423,11.850846 L26.3587325,11.4936286 C26.1393897,10.7854606 25.8573776,10.1023606 25.5126962,9.45059536 L26.7535495,7.71464383 C27.2799721,6.97514101 27.1985019,5.96615835 26.5530075,5.32692709 L24.6854606,3.45936912 C24.3345122,3.10841863 23.8707589,2.91414247 23.375671,2.91414247 C22.987121,2.91414247 22.6173718,3.03321496 22.304025,3.25882599 L20.5618168,4.49968665 C19.8849877,4.14246919 19.1768239,3.84792145 18.4435924,3.6285774 L18.092644,1.54794234 C17.9422376,0.651765197 17.1714044,0 16.2626987,0 L13.6243187,0 C12.715613,0 11.9447799,0.651765197 11.7943734,1.54794234 L11.4308911,3.67871318 C10.7289943,3.89805724 10.0458983,4.186338 9.39413695,4.53728849 L7.67072957,3.29642783 C7.35738278,3.0708168 6.98136662,2.95174431 6.59281659,2.95174431 C6.09772866,2.95174431 5.62770846,3.14602047 5.28302699,3.49697096 L3.40921314,5.36452893 C2.76998568,6.00376018 2.68224858,7.01274285 3.20867119,7.75224567 L4.46205838,9.51326509 C4.1173769,10.1712973 3.84163172,10.8543973 3.6285559,11.5625653 L1.54793317,11.9135158 C0.651761336,12.0639231 0,12.8347608 0,13.7434719 L0,16.3818676 C0,17.2905787 0.651761336,18.0614163 1.54793317,18.2118237 L3.67869139,18.5753081 C3.89803415,19.2772091 4.1863132,19.9603092 4.53726161,20.6120744 L3.30267523,22.329225 C2.77625262,23.0687278 2.85772278,24.0777105 3.50321718,24.7169417 L5.37076409,26.5844997 C5.7217125,26.9354502 6.18546576,27.1297263 6.6805537,27.1297263 C7.06910372,27.1297263 7.43885294,27.0106539 7.75219974,26.7850428 L9.51320874,25.5316482 C10.1461693,25.8637978 10.8104645,26.1332776 11.4935605,26.3463547 L11.8445089,28.4520577 C11.9949154,29.3482348 12.7657485,30 13.6744542,30 L16.3191012,30 C17.2278069,30 17.99864,29.3482348 18.1490464,28.4520577 L18.5062618,26.3463547 C19.2144256,26.1270107 19.8975216,25.8449969 20.5492829,25.5003133 L22.2852242,26.741174 C22.598571,26.966785 22.9745871,27.0858575 23.3631371,27.0858575 C23.8582251,27.0858575 24.3219783,26.8915814 24.6729267,26.5406309 L26.5404736,24.6730729 C27.1797011,24.0338417 27.2674382,23.024859 26.7410156,22.2853562 L25.5001623,20.5431377 C25.8448438,19.8851055 26.1331228,19.2020054 26.3461986,18.5001044 L28.4518891,18.149154 C29.3480609,17.9987466 29.9998223,17.2279089 29.9998223,16.3191978 L29.9998223,13.6808022 C30.0123562,12.7720911 29.3605948,12.0012534 28.464423,11.850846 Z M28.3202835,16.3191978 C28.3202835,16.4006685 28.263881,16.4696052 28.1824109,16.4821391 L25.5502978,16.9208272 C25.2181502,16.97723 24.9549389,17.2216419 24.8734687,17.5412576 C24.6353251,18.4625026 24.2718428,19.3461458 23.7830218,20.1671193 C23.6138146,20.4554 23.6263484,20.8126175 23.8206235,21.0883643 L25.3685566,23.2692709 C25.4124252,23.3319407 25.4061582,23.4259453 25.3497558,23.482348 L23.4822089,25.349906 C23.4383404,25.3937748 23.3944718,25.4000418 23.3631371,25.4000418 C23.3255355,25.4000418 23.2942008,25.3875078 23.2691331,25.3687069 L21.0945063,23.8207646 C20.8250281,23.6264884 20.4615458,23.6139545 20.1732667,23.7831627 C19.3522981,24.2719866 18.4686602,24.6354711 17.5474206,24.873616 C17.2215399,24.9550867 16.9771294,25.2245665 16.9269939,25.5504491 L16.4820415,28.1825778 C16.4695076,28.2640485 16.4005713,28.3204512 16.3191012,28.3204512 L13.6807211,28.3204512 C13.599251,28.3204512 13.5303147,28.2640485 13.5177808,28.1825778 L13.0790953,25.5504491 C13.0226929,25.2182996 12.7782824,24.9550867 12.4586686,24.873616 C11.5624968,24.641738 10.6976596,24.2845206 9.88922489,23.8207646 C9.75761924,23.7455609 9.60721278,23.7079591 9.46307325,23.7079591 C9.29386598,23.7079591 9.11839177,23.7580948 8.97425225,23.8646334 L6.78082467,25.4251097 C6.74948999,25.4439106 6.71815531,25.4564445 6.68682063,25.4564445 C6.66175289,25.4564445 6.6116174,25.4501776 6.56774885,25.4063088 L4.70020194,23.5387508 C4.64379952,23.482348 4.63753259,23.3946104 4.68140114,23.3256737 L6.22306737,21.163568 C6.41734239,20.8878212 6.42987626,20.5243367 6.26066899,20.236056 C5.77184799,19.4213495 5.39583183,18.5377063 5.15768827,17.6164612 C5.06995116,17.2968456 4.80673986,17.0524337 4.48085919,16.9960309 L1.82994529,16.5448089 C1.74847512,16.5322749 1.6920727,16.4633382 1.6920727,16.3818676 L1.6920727,13.7434719 C1.6920727,13.6620013 1.74847512,13.5930645 1.82994529,13.5805306 L4.44325757,13.1418425 C4.77540518,13.0854397 5.04488342,12.8410278 5.12635359,12.5151452 C5.35823022,11.5939001 5.71544556,10.70399 6.19799963,9.8830165 C6.3672069,9.59473574 6.34840609,9.23751828 6.15413108,8.96803844 L4.59366403,6.77459787 C4.54979548,6.71192814 4.55606242,6.61792354 4.61246484,6.56152079 L6.48001175,4.69396282 C6.5238803,4.650094 6.56774885,4.64382703 6.59908353,4.64382703 C6.63668515,4.64382703 6.66801983,4.65636098 6.69308757,4.6751619 L8.85518046,6.21683727 C9.13092564,6.41111343 9.49440793,6.42364738 9.78268698,6.25443911 C10.5973887,5.76561521 11.4810266,5.38959682 12.4022662,5.15145185 C12.7218799,5.06371423 12.9662904,4.80050136 13.0226929,4.47461876 L13.4739122,1.82368916 C13.4864461,1.74221851 13.5553824,1.68581575 13.6368526,1.68581575 L16.2752326,1.68581575 C16.3567028,1.68581575 16.4256391,1.74221851 16.4381729,1.82368916 L16.8768584,4.43701692 C16.9332609,4.76916649 17.1776714,5.03864633 17.503552,5.12011698 C18.4498594,5.35826196 19.3522981,5.72801337 20.1920676,6.22310424 C20.4803466,6.39231251 20.837562,6.37977857 21.1133071,6.1855024 L23.2754,4.63129309 C23.3067347,4.61249217 23.3380694,4.59995822 23.3694041,4.59995822 C23.3944718,4.59995822 23.4446073,4.60622519 23.4884759,4.650094 L25.3560228,6.51765197 C25.4124252,6.57405473 25.4186921,6.66179235 25.3748236,6.73072906 L23.8268904,8.90536871 C23.6326154,9.17484855 23.6200815,9.53833299 23.7892888,9.82661375 C24.2781098,10.6475872 24.6415921,11.5312304 24.8797356,12.4524755 C24.9612058,12.7783581 25.230684,13.02277 25.5565647,13.0729058 L28.1886778,13.5178609 C28.270148,13.5303948 28.3265504,13.5993315 28.3265504,13.6808022 L28.3265504,16.3191978 L28.3202835,16.3191978 Z" id="Shape"></path>
                                <path d="M14.75,8 C11.0254114,8 8,11.0254114 8,14.75 C8,18.4745886 11.0254114,21.5 14.75,21.5 C18.4745886,21.5 21.5,18.4745886 21.5,14.75 C21.5,11.0254114 18.4745886,8 14.75,8 Z M14.75,20 C11.853211,20 9.5,17.646789 9.5,14.75 C9.5,11.853211 11.853211,9.5 14.75,9.5 C17.646789,9.5 20,11.853211 20,14.75 C20,17.646789 17.646789,20 14.75,20 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                    <span>Settings</span>
                </a>
                <a class="sidebar-link" routerLink="/support" routerLinkActive="active">
                    <svg width="25px" height="29px" viewBox="0 0 25 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Desktop-Copy-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-29.000000, -304.000000)">
                            <g id="Support" transform="translate(28.000000, 303.000000)" fill="#FFFFFF">
                                <g id="Group-7" transform="translate(0.000000, 0.577241)">
                                    <path d="M5.55093103,3.61841379 C5.30162069,3.61841379 5.09886207,3.82013793 5.09886207,4.07048276 L5.09886207,4.97358621 C5.09886207,5.22289655 5.30162069,5.42462069 5.55093103,5.42462069 C5.80024138,5.42462069 6.003,5.22289655 6.003,4.97358621 L6.003,4.07048276 C6.003,3.82013793 5.80024138,3.61841379 5.55093103,3.61841379"
                                        id="Fill-2"></path>
                                    <g id="Group-6">
                                        <path d="M24.9697241,26.6507586 C24.9697241,27.3986897 24.3624828,28.005931 23.6145517,28.005931 L6.00248276,28.005931 L6.00248276,6.78041379 C6.00248276,6.53110345 5.80075862,6.32731034 5.55144828,6.32731034 C5.30110345,6.32731034 5.09937931,6.53110345 5.09937931,6.78041379 L5.09937931,28.005931 L4.19627586,28.005931 C3.44834483,28.005931 2.84110345,27.3986897 2.84110345,26.6507586 L2.84110345,25.2955862 L3.29317241,25.2955862 C3.54144828,25.2955862 3.74317241,25.0938621 3.74317241,24.8445517 C3.74317241,24.5952414 3.54144828,24.3924828 3.29317241,24.3924828 L2.84110345,24.3924828 L2.84110345,23.0383448 L3.29317241,23.0383448 C3.54144828,23.0383448 3.74317241,22.8355862 3.74317241,22.5862759 C3.74317241,22.3369655 3.54144828,22.1352414 3.29317241,22.1352414 L2.84110345,22.1352414 L2.84110345,20.780069 L3.29317241,20.780069 C3.54144828,20.780069 3.74317241,20.5773103 3.74317241,20.3290345 C3.74317241,20.0786897 3.54144828,19.8769655 3.29317241,19.8769655 L2.84110345,19.8769655 L2.84110345,18.5217931 L3.29317241,18.5217931 C3.54144828,18.5217931 3.74317241,18.3190345 3.74317241,18.0707586 C3.74317241,17.8214483 3.54144828,17.6186897 3.29317241,17.6186897 L2.84110345,17.6186897 L2.84110345,16.2635172 L3.29317241,16.2635172 C3.54144828,16.2635172 3.74317241,16.0617931 3.74317241,15.8114483 C3.74317241,15.5621379 3.54144828,15.3604138 3.29317241,15.3604138 L2.84110345,15.3604138 L2.84110345,14.0052414 L3.29317241,14.0052414 C3.54144828,14.0052414 3.74317241,13.8035172 3.74317241,13.5542069 C3.74317241,13.3048966 3.54144828,13.1021379 3.29317241,13.1021379 L2.84110345,13.1021379 L2.84110345,11.748 L3.29317241,11.748 C3.54144828,11.748 3.74317241,11.5452414 3.74317241,11.295931 C3.74317241,11.0466207 3.54144828,10.8448966 3.29317241,10.8448966 L2.84110345,10.8448966 L2.84110345,9.48972414 L3.29317241,9.48972414 C3.54144828,9.48972414 3.74317241,9.28696552 3.74317241,9.03868966 C3.74317241,8.78834483 3.54144828,8.58662069 3.29317241,8.58662069 L2.84110345,8.58662069 L2.84110345,7.23144828 L3.29317241,7.23144828 C3.54144828,7.23144828 3.74317241,7.02868966 3.74317241,6.78041379 C3.74317241,6.53110345 3.54144828,6.32731034 3.29317241,6.32731034 L2.84110345,6.32731034 L2.84110345,4.97317241 L3.29317241,4.97317241 C3.54144828,4.97317241 3.74317241,4.77144828 3.74317241,4.52110345 C3.74317241,4.2717931 3.54144828,4.07006897 3.29317241,4.07006897 L2.84110345,4.07006897 L2.84110345,2.71489655 C2.84110345,1.96903448 3.44834483,1.36075862 4.19627586,1.36075862 L5.09937931,1.36075862 L5.09937931,2.26386207 C5.09937931,2.51317241 5.30110345,2.71489655 5.55144828,2.71489655 C5.80075862,2.71489655 6.00248276,2.51317241 6.00248276,2.26386207 L6.00248276,1.36075862 L23.6145517,1.36075862 C24.3624828,1.36075862 24.9697241,1.96903448 24.9697241,2.71489655 L24.9697241,26.6507586 Z M23.6145517,0.457655172 L4.19627586,0.457655172 C2.95075862,0.457655172 1.93696552,1.47041379 1.93696552,2.71489655 L1.93696552,4.07006897 L1.48593103,4.07006897 C1.23765517,4.07006897 1.03386207,4.2717931 1.03386207,4.52110345 C1.03386207,4.77144828 1.23765517,4.97317241 1.48593103,4.97317241 L1.93696552,4.97317241 L1.93696552,6.32731034 L1.48593103,6.32731034 C1.23765517,6.32731034 1.03386207,6.53110345 1.03386207,6.78041379 C1.03386207,7.02868966 1.23765517,7.23144828 1.48593103,7.23144828 L1.93696552,7.23144828 L1.93696552,8.58662069 L1.48593103,8.58662069 C1.23765517,8.58662069 1.03386207,8.78834483 1.03386207,9.03868966 C1.03386207,9.28696552 1.23765517,9.48972414 1.48593103,9.48972414 L1.93696552,9.48972414 L1.93696552,10.8448966 L1.48593103,10.8448966 C1.23765517,10.8448966 1.03386207,11.0466207 1.03386207,11.295931 C1.03386207,11.5452414 1.23765517,11.748 1.48593103,11.748 L1.93696552,11.748 L1.93696552,13.1021379 L1.48593103,13.1021379 C1.23765517,13.1021379 1.03386207,13.3048966 1.03386207,13.5542069 C1.03386207,13.8035172 1.23765517,14.0052414 1.48593103,14.0052414 L1.93696552,14.0052414 L1.93696552,15.3604138 L1.48593103,15.3604138 C1.23765517,15.3604138 1.03386207,15.5621379 1.03386207,15.8114483 C1.03386207,16.0617931 1.23765517,16.2635172 1.48593103,16.2635172 L1.93696552,16.2635172 L1.93696552,17.6186897 L1.48593103,17.6186897 C1.23765517,17.6186897 1.03386207,17.8214483 1.03386207,18.0707586 C1.03386207,18.3190345 1.23765517,18.5217931 1.48593103,18.5217931 L1.93696552,18.5217931 L1.93696552,19.8769655 L1.48593103,19.8769655 C1.23765517,19.8769655 1.03386207,20.0786897 1.03386207,20.3290345 C1.03386207,20.5773103 1.23765517,20.780069 1.48593103,20.780069 L1.93696552,20.780069 L1.93696552,22.1352414 L1.48593103,22.1352414 C1.23765517,22.1352414 1.03386207,22.3369655 1.03386207,22.5862759 C1.03386207,22.8355862 1.23765517,23.0383448 1.48593103,23.0383448 L1.93696552,23.0383448 L1.93696552,24.3924828 L1.48593103,24.3924828 C1.23765517,24.3924828 1.03386207,24.5952414 1.03386207,24.8445517 C1.03386207,25.0938621 1.23765517,25.2955862 1.48593103,25.2955862 L1.93696552,25.2955862 L1.93696552,26.6507586 C1.93696552,27.8962759 2.95075862,28.9090345 4.19627586,28.9090345 L23.6145517,28.9090345 C24.8611034,28.9090345 25.8738621,27.8962759 25.8738621,26.6507586 L25.8738621,2.71489655 C25.8738621,1.47041379 24.8611034,0.457655172 23.6145517,0.457655172 Z"
                                            id="Fill-4"></path>
                                    </g>
                                </g>
                                <path d="M21.8086552,22.5274138 C21.8086552,22.6122414 21.6865862,22.7074138 21.5231379,22.7074138 L9.44348276,22.7094828 C9.28003448,22.7094828 9.15796552,22.6143103 9.15796552,22.5294828 L9.15796552,21.9325862 C9.15796552,21.2353448 9.60072414,20.4067241 10.449,20.172931 L11.9479655,19.7912069 C12.7445172,20.7925862 14.0727931,21.4039655 15.486931,21.4039655 C16.9000345,21.4039655 18.2293448,20.7925862 19.0258966,19.7912069 L20.5176207,20.1718966 C21.3648621,20.4056897 21.8086552,21.2332759 21.8086552,21.9315517 L21.8086552,22.5274138 Z M12.759,14.1398276 C12.759,13.5408621 13.0217586,12.702931 13.1727931,12.2674138 C15.6834828,12.3160345 17.5641724,12.9346552 18.2272759,13.1839655 L18.2272759,14.4212069 C18.2272759,16.2087931 16.9724483,17.7181034 15.486931,17.7181034 C14.0324483,17.7181034 12.759,16.1301724 12.759,14.3198276 L12.759,14.1398276 Z M12.2314138,10.9381034 C12.2314138,9.95534483 12.8345172,9.60672414 13.3496897,9.60672414 L13.3558966,9.60672414 C13.3693448,9.60672414 13.3817586,9.60568966 13.3941724,9.60465517 C13.3993448,9.60465517 13.4045172,9.60362069 13.4045172,9.60362069 C13.419,9.60155172 13.4283103,9.59948276 13.4376207,9.59844828 C13.4438276,9.59637931 13.4500345,9.59534483 13.4562414,9.59327586 C13.4645172,9.5912069 13.4717586,9.58913793 13.481069,9.58706897 C13.4872759,9.585 13.4934828,9.58293103 13.5007241,9.57982759 C13.5079655,9.57775862 13.5141724,9.57465517 13.5224483,9.57258621 C13.5296897,9.56948276 13.536931,9.56637931 13.5431379,9.56327586 C13.5503793,9.56017241 13.5555517,9.55706897 13.5617586,9.55396552 C13.5700345,9.54982759 13.5772759,9.54465517 13.5855517,9.53948276 C13.5907241,9.53637931 13.5958966,9.53431034 13.6000345,9.5312069 C13.6103793,9.52396552 13.6196897,9.51672414 13.6300345,9.50948276 C13.6321034,9.50741379 13.6341724,9.50637931 13.6362414,9.50431034 C14.4493448,8.8412069 15.4827931,9.08844828 16.5762414,9.35017241 C17.1545172,9.4887931 17.7483103,9.63051724 18.3214138,9.63051724 C18.336931,9.63051724 18.3514138,9.62948276 18.3679655,9.62948276 C18.516931,10.1539655 18.6772759,11.1418966 18.5014138,12.3201724 C17.7007241,12.0201724 15.6296897,11.3612069 12.8593448,11.3612069 L12.8562414,11.3612069 C12.8458966,11.3612069 12.8355517,11.3622414 12.8262414,11.3632759 C12.8262414,11.3632759 12.8158966,11.3632759 12.8096897,11.3643103 C12.8024483,11.3653448 12.7941724,11.3663793 12.786931,11.3674138 C12.7786552,11.3684483 12.7724483,11.3694828 12.7652069,11.3715517 C12.7600345,11.3725862 12.7558966,11.3736207 12.7507241,11.3746552 C12.7403793,11.3777586 12.7321034,11.3798276 12.7217586,11.382931 C12.7217586,11.382931 12.7186552,11.385 12.7165862,11.385 C12.7041724,11.3881034 12.6917586,11.3932759 12.6803793,11.3984483 C12.666931,11.4036207 12.6534828,11.4108621 12.6421034,11.417069 C12.6400345,11.4181034 12.639,11.4191379 12.636931,11.4201724 C12.6265862,11.4263793 12.6152069,11.4315517 12.6058966,11.4387931 C12.5996897,11.442931 12.5945172,11.4481034 12.5883103,11.4522414 C12.5821034,11.4563793 12.576931,11.4605172 12.5717586,11.4656897 C12.5624483,11.4708621 12.5562414,11.4781034 12.5479655,11.4853448 C12.5458966,11.4884483 12.5427931,11.4915517 12.5396897,11.4936207 C12.5324483,11.5018966 12.5252069,11.5091379 12.519,11.5163793 C12.516931,11.5194828 12.5138276,11.5225862 12.5107241,11.5256897 C12.5055517,11.532931 12.5003793,11.5401724 12.4952069,11.5463793 C12.491069,11.5525862 12.486931,11.5577586 12.4827931,11.5618966 C12.4796897,11.567069 12.4765862,11.5732759 12.4745172,11.5784483 C12.4693448,11.5867241 12.4652069,11.5939655 12.461069,11.6012069 C12.4579655,11.6053448 12.4558966,11.6094828 12.4538276,11.6146552 C12.4496897,11.6239655 12.4445172,11.6332759 12.4403793,11.6436207 C12.4403793,11.6436207 12.4393448,11.6446552 12.4393448,11.6456897 C12.4331379,11.6612069 12.3948621,11.7584483 12.341069,11.9105172 C12.276931,11.5443103 12.2314138,11.1946552 12.2314138,10.9381034 Z M13.6600345,18.4867241 L13.6600345,18.0160345 C14.201069,18.3987931 14.8258966,18.6212069 15.486931,18.6212069 C16.1355517,18.6212069 16.7572759,18.4215517 17.3055517,18.0501724 L17.3055517,18.4846552 C17.3055517,18.9739655 17.6583103,19.3143103 18.066931,19.5077586 C17.4276207,20.1305172 16.4862414,20.5008621 15.486931,20.5008621 C14.4865862,20.5008621 13.5452069,20.1305172 12.9058966,19.5067241 C13.3114138,19.3122414 13.6600345,18.972931 13.6600345,18.4867241 Z M20.7524483,19.2987931 C20.7503793,19.2977586 20.7472759,19.2977586 20.7452069,19.2967241 L18.6400345,18.7618966 C18.4145172,18.6977586 18.2096897,18.5663793 18.2096897,18.4846552 L18.2086552,17.1915517 C18.8045172,16.4156897 19.1314138,15.4381034 19.1314138,14.4212069 L19.1314138,13.607069 C19.8058966,11.4181034 19.3341724,9.52396552 19.0931379,8.97258621 C19.0921034,8.97155172 19.091069,8.97051724 19.0900345,8.96948276 C19.0858966,8.96017241 19.0817586,8.95086207 19.0765862,8.94258621 C19.0745172,8.93741379 19.0714138,8.93224138 19.0703793,8.92810345 C19.0652069,8.92086207 19.061069,8.91362069 19.0558966,8.90637931 C19.0527931,8.90017241 19.0486552,8.895 19.0445172,8.88982759 C19.0403793,8.88465517 19.0362414,8.87948276 19.0321034,8.87431034 C19.026931,8.86706897 19.0217586,8.86086207 19.0165862,8.85465517 C19.0124483,8.85051724 19.0093448,8.84637931 19.0052069,8.84327586 C18.999,8.83706897 18.9917586,8.82982759 18.9855517,8.82362069 L18.9762414,8.81431034 C18.9679655,8.80810345 18.9596897,8.80086207 18.9514138,8.79568966 C18.9483103,8.79258621 18.9441724,8.79051724 18.941069,8.78741379 C18.9327931,8.78224138 18.9245172,8.77603448 18.9162414,8.77086207 C18.911069,8.76775862 18.9058966,8.76568966 18.9017586,8.76258621 C18.8945172,8.75741379 18.8872759,8.75431034 18.879,8.7512069 C18.8727931,8.74810345 18.8665862,8.745 18.8593448,8.74189655 C18.8541724,8.7387931 18.846931,8.73568966 18.8396897,8.73362069 C18.8324483,8.73051724 18.8252069,8.72741379 18.816931,8.72534483 C18.8117586,8.72327586 18.8055517,8.7212069 18.7983103,8.71913793 C18.791069,8.71706897 18.7838276,8.71603448 18.7755517,8.71396552 C18.7693448,8.71293103 18.7631379,8.71189655 18.7558966,8.71086207 C18.7486552,8.70982759 18.7424483,8.7087931 18.7352069,8.70775862 C18.726931,8.70672414 18.7196897,8.70568966 18.7114138,8.70568966 C18.7052069,8.70465517 18.7000345,8.70465517 18.6938276,8.70465517 C18.6845172,8.70465517 18.6752069,8.70362069 18.6648621,8.70465517 C18.6648621,8.70465517 18.6555517,8.70465517 18.6514138,8.70568966 C18.6400345,8.70568966 18.6307241,8.70672414 18.6193448,8.70775862 L18.6152069,8.7087931 C18.0876207,8.78327586 17.4555517,8.63224138 16.7872759,8.47189655 C15.6276207,8.19465517 14.3200345,7.88224138 13.1872759,8.71086207 C12.101069,8.79362069 11.3283103,9.70396552 11.3283103,10.9381034 C11.3283103,11.8598276 11.7627931,13.5243103 11.8548621,13.8656897 L11.8548621,14.3198276 C11.8548621,15.3801724 12.1993448,16.365 12.7600345,17.1243103 C12.759,17.1325862 12.7579655,17.1418966 12.7579655,17.1512069 L12.756931,18.4867241 C12.756931,18.5674138 12.5521034,18.6998276 12.3265862,18.762931 L10.2214138,19.2987931 C10.2214138,19.2987931 10.2162414,19.2998276 10.2131379,19.3008621 C8.92727586,19.6536207 8.25382759,20.8918966 8.25382759,21.9336207 L8.25382759,22.5294828 C8.25382759,23.1263793 8.78762069,23.6125862 9.44348276,23.6125862 L21.5231379,23.6105172 C22.1779655,23.6105172 22.7117586,23.1253448 22.7117586,22.5274138 L22.7117586,21.9315517 C22.7117586,20.8898276 22.0393448,19.6515517 20.7524483,19.2987931 Z"
                                    id="Fill-8"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="align">Support</span>
                </a>
                <a routerLink="/terms">Terms & Conditions</a>
            </div>
        </div>
        <div class="col-md-9" style="">
            <nav class="breadcrumb" style="margin-left: 10px;">
                <a class="breadcrumb-item" style="color: #ED3C24" routerLink="/dashboard">PLAAK</a>
                <a class="breadcrumb-item">{{currentPage}}</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
