.indigo {
    background-color: #000000 !important;
    border-bottom: 1px solid #868686be;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link 
{
	color:#b2b2b2;
}

.navbar .nav-item.avatar .dropdown-toggle img {
    height: 35px;
}

.navbar {
    min-height: 70px;
}

.token {
    color: #ED3C24; 
    padding-left: 10px; 
    font-size: 20px
}