<nav class="navbar navbar-expand-lg navbar-dark indigo">
	<a class="navbar-brand" routerLink="/dashboard">
		<img src="assets/img/Logo_darkBg.svg" height="30" />
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item active token">
				Token Sale Dashboard
			</li>
		</ul>
		<ul class="navbar-nav ml-auto nav-flex-icons" (clickOutside)="outsideClick()">
			<li class="nav-item avatar dropdown menu_container">
				<a class="nav-link dropdown-toggle waves-effect waves-light" (click)="openUserSettings()" style="color: #ffffff">
					{{user?.firstName}}
				</a>
				<div class=" dropdown-menu dropdown-menu-right dropdown-purple" [style.display]="dropdown">
					<a class="dropdown-item" (click)="openUserSettings()" routerLinkActive="active" [routerLink]="['/settings']">Settings</a>
					<a class="dropdown-item" (click)="logout()">Logout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>