.user-account {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.save {
    float: right;
    background-color: #ED3C24;
    border-radius: 5px;
}
