<div>
    <div class="row">
        <div class="col-md-8 user-account">
            <!-- <h2>User Account</h2> -->

            <form [formGroup]="frmUserAccount" (ngSubmit)="save()" novalidate>
                <div class="form-group">
                        <span class="form-title">Please enter your MyEtherWallet Address Below. <a target="_blank" href="https://plaak.com/tokensalepage.php">Token Sale Guide</a></span><br><br>
                    <div class="input-group">
                       
                        <!--<span class="input-group-addon">0x</span>-->
                        <input type="text" class="form-control" placeholder="Address" formControlName="address">
                    </div>
                    <validation-message [control]="frmUserAccount.controls.address" [message]="'Address'" [formSubmitted]="isFormSubmitted"></validation-message>
                </div>
                <button type="submit" [disabled]="frmUserAccount.invalid" class="btn save">Save</button>
            </form>
        </div>
    </div>

</div>