.settings {
    height: 100%;
}

.sidebar {
    background-color: #000000;
}

.settings-options {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.settings-options a {
    color: #808080;
    font-size: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.active {
    color: #ED3C24 !important;
    border-bottom: 2px solid #ED3C24; 
}