<div class="dashboard-bg container-fluid settings">

    <div class="row settings">
        <div class="col-md-10 content">
            <div class="settings-options">
                <a [routerLink]="['user-settings']" routerLinkActive="active">
                    User Settings
                </a>

                <a [routerLink]="['user-account']" routerLinkActive="active">
                    PLK Wallet Address
                </a>

                <a [routerLink]="['change-password']" routerLinkActive="active">
                    Change Password
                </a>

            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>