<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <ngx-datatable [rows]="transactions" class="material" [columns]="columns" [columnMode]="'force'" [headerHeight]="'auto'"
                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="totalItems" [offset]="search.page"
                [limit]="search.size" (page)='setPage($event)' (sort)="onSort($event)" [externalSorting]="true" [loadingIndicator]="loading">
            </ngx-datatable>
        </div>
    </div>
</div>