<div class="container-fluid login-container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 left-part">
            <!-- <img src="assets/img/plaak-logo-trans.png" class="img-responsive" /> -->
            <img style="z-index: 1; position: relative; max-height: 40px;" src="assets/img/Logo_red.svg" alt="Plaak logo">
            <br><br>
            <span class="title font40pxOnMobile">PLAAK,<br>It's Your World</span>
            <br>
            <ul class="left-list textALignCenterOnMobile">
                <li>FREELANCE</li>
                <li>INVESTMENTS</li>
                <li>WALLET</li>
                <li>EXCHANGE</li>
                <li>HEALTH</li>
            </ul>
            
            <div class="left-part-info boderTopBottom">
                <div class="col-xs-12 col-sm-12">
                    <div class="left_part_info_images">
                        <img src="assets/img/referral/add-user-white.svg" alt="Plaak logo">
                        <img src="assets/img/referral/shopping-cart-white.svg" alt="Plaak logo">
                        <img src="assets/img/referral/pla-white.svg" alt="Plaak logo">                            
                    </div>
                    <div class="left_part_info_content">
                        <p>Refer your friend using your unique URL and earn 15% additional commission!</p>
                    </div>
                </div>
            </div>
            <span style="flex-grow: 1"></span>
            <div class="col-xs-12 col-sm-3 main_site_link_box">
                <a class="d-flex alignItemsCenter noDecoration fontSize20px hoverWhite" href="https://plaak.com" target="_blank" >
                    <i class="material-icons" style="font-size: 30px;">keyboard_arrow_left</i>
                    <span style="font-size: 16px;"> Main Site</span>
                </a>
            </div>

            <div class="video_bg">
                <div class="overlay-block"></div>
                <video id="about-video" autoplay="autoplay" loop="loop" muted="" width="100%" height="100%">
                    <source src="https://plaak.com/video/shutterstock_v22522198.mov" type="video/mov">
                    <source src="https://plaak.com/video/shutterstock_v22522198.mov" type="video/mp4">
                </video>
                <div class="gradient-block"></div>
            </div>
        
        </div>
        <div class="col-xs-12 col-sm-6 right-part">
            <div *ngIf="registrationSuccess">
                <strong>Registration saved!</strong>
                <a href="javascript:void(0)" (click)="goToLogin()">Go to Login</a>
            </div>
            <div *ngIf="!registrationSuccess">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- <img src="assets/img/logo.png" class="img-responsive right_part_logo col-xs-12"  alt="Plaak logo"> -->
                    </div>
                </div>
                <div class="d-flex pullRightOnDesktop">
                    <div class="btn-group">
                        <label class="btn btn-sm btn-rounded waves-light" [ngClass]="model=='signin'?'btn-brown':'btn-gray'" [(ngModel)]="model"
                            mdbRadio="signin" mdbRippleRadius>
                            Sign In
                        </label>
                        <label class="btn btn-sm btn-rounded waves-light" [ngClass]="model=='signup'?'btn-brown':'btn-gray'" [(ngModel)]="model"
                            mdbRadio="signup" mdbRippleRadius>
                            Sign Up
                        </label>
                    </div>
                </div>
                                
                <div *ngIf="model=='signin'">

                    <h3 style="font-family: Montserrat; font-size: 36px; font-weight: 700; color: #ff3100;">WELCOME BACK!</h3>
                    <span style="font-family: Montserrat; text-align: justify">PLAAK Dashboard helps you purchase PLK tokens, Get Referral Links, and much more
                    </span>
                    <form class="login-form" name="frmLogin" novalidate [formGroup]="frmLogin" (ngSubmit)="login()">

                        <div class="md-form cst_form_group">
                            <input placeholder="Enter your email address" type="text" class="form-control cst_input_text login-input" formControlName="username">
                            <label class="active cst_label" for="login-email">E-MAIL</label>
                            <validation-message [control]="frmLogin.controls.username" [message]="'E-mail'" [formSubmitted]="isLoginFormSubmitted"></validation-message>
                        </div>

                        <div class="md-form cst_form_group_last">
                            <input placeholder="xxxx" type="password" class="form-control cst_input_text login-input" id="login-password" name="password" mdbInputValidate
                                formControlName="password">
                            <label class="active cst_label" for="login-password">PASSWORD</label>
                            <validation-message [control]="frmLogin.controls.password" [message]="'Password'" [formSubmitted]="isLoginFormSubmitted"></validation-message>
                        </div>

                        <div class="md-checkbox">
                            <input id="i2" type="checkbox" formControlName="rememberMe">
                            <label for="i2">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-2x btn-brown">Sign In</button>
                        <button type="button" class="btn btn-2x btn-brown" (click)="showRestForm()">Rest Password</button>
                        <div *ngIf="loginError">
                            <p>{{loginErrorMessage}}</p>
                        </div>
                    </form>

                    <!-- <hr> -->

                    <!-- <a (click)="signInWithFB()" target="_blank" class="btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a (click)="signInWithGoogle()" target="_blank" class="btn-social btn-google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a> -->
                </div>
                <div *ngIf="model=='rest'">
                    <h3 style="font-family: Montserrat; font-size: 36px; font-weight: 700; color: #ff3100;">REST PASSWORD</h3>
                    <span style="font-family: Montserrat; text-align: justify">Please enter your email address to search for your account.
                    </span>
                    <form class="login-form" name="frmrestinitl" novalidate [formGroup]="frmRestpsdInitil" (ngSubmit)="RequestRestPassword()">

                        <div class="md-form cst_form_group">
                            <input placeholder="Enter your email address" type="text" class="form-control cst_input_text login-input" formControlName="email">
                            <label class="active cst_label" for="login-email">E-MAIL</label>
                            <validation-message [control]="frmRestpsdInitil.controls.email" [message]="'E-mail'" [formSubmitted]="isRestFormSubmitted"></validation-message>
                        </div>                                              
                        <button type="submit" class="btn btn-2x btn-brown">Send</button>
                        <div *ngIf="restError">
                            <p>{{restErrorMessage}}</p>
                        </div>
                    </form>
                </div>
                <div *ngIf="model=='restFinal'">
                        <h3 style="font-family: Montserrat; font-size: 36px; font-weight: 700; color: #ff3100;">REST PASSWORD</h3>
                        <span style="font-family: Montserrat; text-align: justify">Please check your email and enter the vervication code that we sent it to your email.
                        </span>
                        <form class="login-form" name="frmresFinal" novalidate [formGroup]="frmRestpsdFinal" (ngSubmit)="restPassword()">
    
                            <div class="md-form cst_form_group">
                                <input placeholder="Enter the vervication code" type="text" class="form-control cst_input_text login-input" formControlName="code">
                                <label class="active cst_label" for="rest-code">vervication code</label>
                                <validation-message [control]="frmRestpsdFinal.controls.code" [message]="'vervication code'" [formSubmitted]="isRestFormSubmitted"></validation-message>
                            </div>  
                            <div style="margin-bottom: 2rem !important;" class="md-form cst_form_group">
                                    <input placeholder="xxxx" type="password" class="form-control cst_input_text login-input" formControlName="password" id="rest-password"
                                        name="password" mdbInputValidate>
                                    <label class="active cst_label" for="login-password">PASSWORD</label>
                                    <password-strength-bar [passwordToCheck]="frmRestpsdFinal.controls['password'].value"></password-strength-bar>
                                    <validation-message [control]="frmRestpsdFinal.controls.password" [message]="'Password'" [formSubmitted]="isFormSubmitted"></validation-message>
                                </div>
        
                                <div class="md-form cst_form_group_last">
                                    <input placeholder="xxxx" type="password" class="form-control cst_input_text login-input" formControlName="comparePasswrod" id="repeat-password"
                                        name="password" mdbInputValidate>
                                    <label class="active cst_label" for="repeat-password">REPEAT PASSWORD</label>
                                    <validation-message [control]="frmRestpsdFinal.controls.comparePasswrod" [message]="'Repeat Password'" [formSubmitted]="isFormSubmitted"></validation-message>
        
                                </div>                                            
                            <button type="submit" class="btn btn-2x btn-brown">Rest Password</button>
                            <div *ngIf="restError">
                                <p>{{restErrorMessage}}</p>
                            </div>
                        </form>
                    </div>
                <div *ngIf="model=='signup'">
                    <h3 style="font-family: Montserrat; font-size: 36px; font-weight: 700; color: #ff3100;">WELCOME</h3>
                    <span style="font-family: Montserrat; text-align: justify">PLAAK Dashboard helps you purchase PLK tokens, Get Referral Links, and much more
                    </span>
                    <form class="login-form" name="frmRegister" novalidate [formGroup]="frmRegister" (ngSubmit)="registerUser()">

                        <div class="md-form cst_form_group">
                            <input placeholder="Enter your email address" type="text" id="login-email" formControlName="email" class="form-control cst_input_text login-input">
                            <label class="active cst_label" for="login-email">E-MAIL</label>
                            <validation-message [control]="frmRegister.controls.email" [message]="'Email'" [formSubmitted]="isFormSubmitted"></validation-message>
                        </div>

                        <div style="margin-bottom: 2rem !important;" class="md-form cst_form_group">
                            <input placeholder="xxxx" type="password" class="form-control cst_input_text login-input" formControlName="password" id="login-password"
                                name="password" mdbInputValidate>
                            <label class="active cst_label" for="login-password">PASSWORD</label>
                            <password-strength-bar [passwordToCheck]="frmRegister.controls['password'].value"></password-strength-bar>
                            <validation-message [control]="frmRegister.controls.password" [message]="'Password'" [formSubmitted]="isFormSubmitted"></validation-message>
                        </div>

                        <div class="md-form cst_form_group_last">
                            <input placeholder="xxxx" type="password" class="form-control cst_input_text login-input" formControlName="comparePasswrod" id="repeat-password"
                                name="password" mdbInputValidate>
                            <label class="active cst_label" for="repeat-password">REPEAT PASSWORD</label>
                            <validation-message [control]="frmRegister.controls.comparePasswrod" [message]="'Repeat Password'" [formSubmitted]="isFormSubmitted"></validation-message>

                        </div>

                        <div class="md-checkbox">
                            <input id="i2" type="checkbox" formControlName="termsAndCondition">
                            <label for="i2">By Signing up you agree <a href="https://www.plaak.com/tsprivacy.php" target="_blank">Terms & Condition</a></label>
                        </div>

                        <button class="btn btn-brown" type="submit" [disabled]="!frmRegister.controls['termsAndCondition'].value">Sign Up</button>
                        <div *ngIf="error">
                            <p>{{errorMessage}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
