.right-part {
    background-color: #ffffff;
    color: #000000; 
}

input::-webkit-input-placeholder{
    color: #000000;
}

input:-moz-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

input:-ms-input-placeholder {
    color: #000000;
}

.form-control::placeholder,
input::-moz-placeholder,
input {
    color: #000000 !important;
    background-color: #e1e1e1;
    padding-left: 20px;
    border: 0;
}

.md-checkbox label::before {
    background-color: #ffffff;
}

.md-checkbox input[type="checkbox"]:checked + label::before {
    background: #ffffff;
    border: 2px solid #000000 !important;
}

.btn-brown {
    background-color: #FF3100 !important;
}

.login-input,
.login-input::-webkit-input-placeholder {
    color: #000000 !important;
    background-color: #e1e1e1;
    padding-left: 20px;
    border: 0;
}

.left-part {
    padding-top: 110px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    overflow: hidden;
    background: #3f3f3f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3f3f3f 0%, #232b39 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3f3f3f 0%,#232b39 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3f3f3f 0%,#232b39 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#232b39',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.left-part-info {
    position: static;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 40px 0px 40px 0px;
}

@media (max-width: 992px) {

    .left-part {
        padding: 20px;
    }

    .left-part-info {
        padding: 20px 0px 20px 0px;
    }
    
}

.boderTopBottom {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
}

.left_part_info_images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left_part_info_images img {
    z-index: 1;
    position: relative;
}

.left_part_info_content p {
    padding: 0;
    margin: 50px 0px 0px 0px;
}

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: -100; */
    background-size: cover;
}

.title {
    position: relative;
    z-index: 999;
    font-size: 46px;
    font-family: Montserrat;
    font-weight: 700;
}

.top-left {
    position: absolute;
    left: -331px;
    top: -335px;
    z-index: 1;
}

.bottom-right {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 86%;
    /* bottom: -450%; */
}

.left-list {
    position: relative;
    z-index: 2;
    padding-left: 0;
}

.left-list li {
    z-index: 2;
    display: inline-block;
    margin-right: 5px;
    color: #FF3100;
    font-size: 18px;
}

.left-list li:before {
	content: '\00a0\2022\00a0\00a0';
	color: red;
	color:rgba(255, 0, 0, 1);
    font-size:20px;
    margin-right: 5px;
}

.left-list li:first-child:before {
	content: '';
}


.bottom-left {
    z-index: 1;
    left: 60px;
    bottom: 45px;
    position: absolute;
}

.video_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.video_bg .overlay-block {
    /* background: url('../images/overlay_objects.png') no-repeat scroll 0 0 transparent; */
        background-size: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.video_bg video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}
.video_bg .gradient-block {

    width: 100%;
    height: 100%;
    background: #121519;
    background: -moz-linear-gradient(top, #121519 0%, #3f3f3f 100%);
    background: -webkit-linear-gradient(top, #121519 0%,#3f3f3f 100%);
    background: linear-gradient(to bottom, #121519 0%,#3f3f3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121519', endColorstr='#3f3f3f',GradientType=0 );

}

.main_site_link_box {
    max-height: 25px;
    position: static;
    padding: 0;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.makingThingsCenterWithFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeroPadding {
    padding: 0 !important;
}

.zeroMargin {
    margin: 0 !important;
}

.noDecoration {
    text-decoration: none;
}

.fontSize20px {
    font-size: 20px;
}

.hoverWhite {
    color: #A4A4A4;
}

.hoverWhite:hover {
    color: white;
}

.d-flex {
    display: flex;
}

.alignItemsCenter {
    align-items: center;
}

.pullRightOnDesktop {
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .pullRightOnDesktop {
        justify-content: center;
    }

    .right_part_logo {
        width: 60% !important;
       
    
    }

    .textALignCenterOnMobile {
        text-align: center;
    }

    .font40pxOnMobile {
        font-size: 40px;
    }
}