<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
<h4 *ngIf="hasDataLoad && !errorMessage && hasUserAccount">Buy Token using {{coin}}</h4>
<h6 *ngIf="hasDataLoad && !errorMessage && !hasUserAccount">Please enter your Etheruem wallet address below, this address will be used to send your token</h6>
<div *ngIf="hasDataLoad && !errorMessage">
    <div *ngIf="!showAddress && isUSD" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form novalidate (ngSubmit)="buyUSD($event)" [formGroup]="stripeTest">
                    <div class="input-group">
                        <span class="input-group-addon">Number of tokens</span>
                        <input type="number" formControlName="amount" placeholder="Amount" class="form-control">
                        <span class="input-group-addon">PLK</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" formControlName="name" placeholder="Jane Doe" class="form-control StripeElement" [value]="'SAMUEL FLANNAGAN'">
                    </div>
                    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                    <br>
                    <button class="btn btn-primary btn-plk-red" type="submit">
                        BUY
                    </button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div *ngIf="!showAddress && hasUserAccount && isNonUSD" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form novalidate (ngSubmit)="buyCrypto($event)" [formGroup]="frmBuyCrypto">
                    <div class="input-group">
                        <span class="input-group-addon">Number of tokens</span>
                        <input type="number" formControlName="amount" name="amountCrypto" placeholder="{{cryptoCurrency}} Amount" class="form-control"
                        />
                        <span class="input-group-addon">PLK</span>
                    </div>
                    <code>Minimum Amount: 30 PLK</code>                    
                    <br>
                    <button class="btn btn-primary btn-plk-red" type="submit" [disabled]="!frmBuyCrypto.valid">
                        BUY
                    </button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div *ngIf="!hasUserAccount" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form novalidate (ngSubmit)="saveUserAccount()" [formGroup]="frmAddress">
                    <div class="input-group">
                       <!-- <span class="input-group-addon">0x</span> -->
                        <input type="text" formControlName="address" name="address" placeholder="Address" class="form-control" />
                    </div>
                    <validation-message class="text-danger" [control]="frmAddress.controls.address" [message]="'Address'" [formSubmitted]="frmAddress.controls['address'].isDirty"></validation-message>
                    <div class="col p0" *ngIf="frmAddress.controls['address'].value && frmAddress.controls['address'].valid">
                        <br>
                        <p>We will use
                            <i>{{getAddress()}}</i> to send your tokens.</p>
                        <p>Please confirm the following</p>

                        <p>1 - The address is not and exchange wallet address.</p>
                        <p>2 - The address is correct.</p>

                        <p>Do you confirm ? please type yes below to continue</p>
                        <input type="text" formControlName="confirmAns" />
                        <br>
                        <button class="btn btn-primary btn-plk-red" type="submit" [disabled]="!frmAddress.controls['confirmAns'].value || frmAddress.controls['confirmAns'].value.toLowerCase() !== 'yes'">
                            SAVE
                        </button>
                    </div>

                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div *ngIf="showAddress" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 text-center">
                <div>
                    <p>Please Send {{amount}} of {{coin}} to the address below</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="address">Address</span>
                    <input type="text" class="form-control" [ngModel]="cryptoAddress?.toAddress" disabled>
                </div>
                <div class="input-group d-flex justify-content-center qrcode">
                    <qr-code [value]="cryptoAddress?.toAddress" [size]="150"></qr-code>
                </div>
                <code>Processing will take upto 30 minutes.</code>
                <br>
                <button class="btn btn-primary btn-plk-red" type="button" (click)="sendCoin()">
                    SENT
                </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<div class="pb-5 mb-3 text-center" *ngIf="errorMessage">
    <p>
        <span class="circle">
            <i class="fa fa-warning"></i>
        </span>
    </p>
    <p>{{errorMessage}}</p>
    <p>
        <a routerLink="/dashboard" class="btn btn-sm btn-primary">Home</a>
    </p>
</div>