.qrcode {
    margin-top: 10px;
}

button:disabled {
    opacity: 0.5;
    ;
}

.circle {
    font-size: 30px;
    color: red;
}

.btn-plk-red {
    background-color: #ED3C24;
}

.btn-plk-red:hover {
    background-color: #ED3C24;
}