<div class="terms">
        <div class="container">
        <h1 class="P12">
          <span class="T3">PLAAK Coin ICO Terms &amp; Conditions
          </span>
        </h1>
        <p class="P6">
          <span class="T4">The following Terms and Conditions (“Terms”) govern the sale of crypto currency coins – PLAAK coin (hereby referred to as “PLK”). The ICO is managed by the PLAAK Blockchain Platform (“PLAAK Blockchain Platform”) to provide the physical PLK Token backing the token and reserve the purchases of the PLK to be issued and executed through The PLAAK Team to purchasers of PLK (“Purchasers” collectively, and “Purchaser” individually). This document is not a solicitation for investment and does not pertain in any way to an offering of securities in any jurisdiction. This document describes the ICO in which the token (PLK) is sold.
          </span>
        </p>
        <h1 class="P5">
          <span class="T5">IMPORTANT
          </span>
        </h1>
        <p class="P6_borderStart">
          <span class="T4">Ownership of PLK coins during the ICO carries no rights express or implied. Purchases of PLK coins are non-refundable. Purchasers should have no expectation of influence over governance of the PLAAK platform, software, programs and business including any other connection to the PLAAK brand. By participating in the sale of PLK coins, you expressly acknowledge and represent that you have carefully reviewed the Terms and fully understand the costs, and benefits of purchasing PLK coins and agree to be bound by these Terms. As set forth b        elow, you further represent and warrant that, to the extent permitted by law, you are authorized to purchase PLK coins in your relevant jurisdiction, are of a legal age to be bound by these Terms, and will not hold PLK coins, PLAAK company its parent and affiliates, and the officers, directors, agents, joint ventures, employees and suppliers of PLK coins, PLAAK or our parent or affiliates, now or in the future and any other member of the PLAAK Team (collectively the “PLAAK Team &amp; Parties”) liable for any losses or any special, incidental, or consequential damages arising out of, or in any way connected to the sale of PLK coin.
          </span>
        </p>
        <p class="P6">
          <span class="T5">DO NOT PURCHASE PLK IF YOU ARE NOT AN EXPERT IN DEALING WITH CRYPTOGRAPHIC TOKENS AND BLOCKCHAIN-BASED SOFTWARE SYSTEMS
          </span>
        </p>
        <p class="P6">
          <span class="T4">Purchases of PLK coins should be undertaken only by individuals, entities, or companies that have significant experience with, and understanding of, the usage and intricacies of cryptographic tokens, like bitcoin (“BTC”), and Blockchain based software systems. Purchasers should have functional understanding of storage and transmission mechanisms associated with other cryptographic tokens. While the PLAAK Team will be available to assist Purchasers of PLK coins during the sale, the PLAAK Team will not be responsible in any way for loss of ERC20 or PLK coins resulting from actions taken by, or omitted by Purchasers. If you do not have such experience or expertise, then you should not purchase PLK coins or participate in the sale of PLK coins.
          </span>
        </p>
        <p class="P6">
          <span class="T5">WARNING: PURCHASERS OF PLK COINS MUST BE MADE AWARE OF CERTAIN FACTORS
          </span>
        </p>
        <p class="P6_borderEnd">
          <span class="T4">Prior to purchasing PLK coins, you should carefully consider the terms listed below and, to the extent necessary, consult an appropriate lawyer, accountant, or tax professional. If any of the following terms are unacceptable to you, you should not purchase PLK coins. By purchasing PLK coins, and to the extent permitted by law, you are agreeing not to hold any of The PLAAK Team &amp; Parties liable for any losses or any special, incidental, or consequential damages arising from, or in any way connected, to the sale of PLK coins, including losses associated with the terms set forth below.
          </span>
        </p>
        <h1 class="P7">
          <span class="T5">TERMS AND CONDITIONS
          </span>
        </h1>
        <p class="P15">
          <span class="T9">PRE-ICO
          </span>
        </p>
        
        <p class="P15">
          <span class="T10">Our pre-ICO will begin on the GMT 01:00am 15
          </span>
          <span class="T12">th
          </span>
          <span class="T10"> January 2018 and will run for 45 days until the GMT 01:00am 28th of February 2018. 10 million PLK will be available during the pre-ICO with no maximum Minimum pre-ICO amount 0.04 ETH.
          </span>
        </p>
        <p class="P17">
        </p>
        <p class="P14">
          <span class="T10">Maximum for sale pre-ICO
          </span>
          <span class="T11">10,000,000
          </span>
          <span class="T10"> PLK coins.
          </span>
        </p>
        <p class="P14">
          <span class="T10">PLK Pre-ICO price 1 ETH = 850 PLK Estimate
          </span>
        </p>
        <p class="P14">
          <span class="T10">Minimum transaction amount 0.04 ETH
          </span>
        </p>
        <p class="P14">
          <span class="T10">Estimated price per coin will start at $1.4
          </span>
        </p>
        <p class="P13">
        </p>
        <p class="P14">
          <span class="T10">Coin distribution Contract will distribute coins/tokens instantly upon receiving ETH Minimum pre-ICO goal No minimum.
          </span>
        </p>
        <p class="P13">
        </p>
        <p class="P14">
          <span class="T10">Our pre-ICO has an exclusive bonus rate of 850 PLK per 1 ETH for the entire period. This pre-sale is aimed to raise funds to advertise and market the main ICO. 5% of the Pre-ICO funds will go into marketing the main ICO. We are planning multiple approaches of digital marketing such as banner ads, press releases, signature campaigns and social media.
          </span>
        </p>
        <p class="P16">
        </p>
        <p class="P18">
          <span class="T9">MAIN ICO
          </span>
        </p>
        <p class="P19">
          <span class="T10">Maximum supply (hard cap) 100,000,000 PLK 60,000,000 Million Coins will be store in a Cold Vault for PLAAK Stage 2 and 3 ICO projects.
          </span>
        </p>
        <p class="P19">
          <span class="T10">For sale, this ICO
          </span>
          <span class="T11">20,000,000
          </span>
          <span class="T10"> PLK coins will be available. No new coins will ever be created.
          </span>
        </p>
        <p class="P20">
        </p>
        <p class="P21">
          <span class="T10">Accepted currencies ETH, BTC.
          </span>
          <a id="_GoBack"></a>
        </p>
        <p class="P22">
          <span class="T10">Price 1 ETH = 750 PLK reducing after 6 weeks to 500 PLK. (See time-line below.) Coin distribution Contract will distribute coins/tokens instantly upon receiving ETH Minimum goal 500,000 PLK. If minimum not met Refunds will be issued via the smart-contract.
          </span>
        </p>
        <p class="P23">
          <span class="T10">Minimum transaction amount 0.04 ETH
          </span>
        </p>
        <p class="P24">
        </p>
        <p class="P25">
          <span class="T10">ICO sale period 01:00am GMT 1
          </span>
          <span class="T12">st
          </span>
          <span class="T10"> March 2018 for 45 days to GMT 01:00am 14
          </span>
          <span class="T12">Th
          </span>
          <span class="T10"> April 2018
          </span>
        </p>
        <p class="P26">
        </p>
        <p class="P27">
          <span class="T10">Our smart contract is set to only create coins/tokens as it accepts ERC20. Therefore, there will be no unsold coins remaining after the ICO has been finalized.
          </span>
        </p>
        <p class="P13">
        </p>
        <p class="P14">
          <span class="T10">We have strategically set a minimum funding goal for the crowd sale. If the minimum goal is not set, full refunds will be made via the smart-contract. If the main ICO does not pass the minimum specified, all remaining pre-ICO funds are returned to the investors minus marketing expenses.
          </span>
        </p>
        <p class="P28">
        </p>
        <p class="P29">
          <span class="T10">For Stage 1 ICO 95% of all coins are available for purchase during the ICO. A maximum of 5% of the total supply of coins will be given to promote the product via multiple forms of digital marketing and development.
          </span>
        </p>
        <p class="P30">
          <span class="T10">Coin distribution Contract will distribute coins/tokens instantly upon receiving ETH Minimum goal 500,000 PLK coins. If minimum not met Refunds will be issued via the smart-contract.
          </span>
        </p>
        <p class="P8_borderStart">
          <span class="T6">Disclosure of Purchases
          </span>
        </p>
        <p class="P6">
          <span class="T4">In the spirit of openness, and to enable PLK coin Purchasers to have as much information as possible to guide their decision-making process, the PLAAK Team will disclose on a daily basis, the total number of PLK coins sold, reserved and outstanding to enable the Purchaser to develop an understanding of the size of the existing PLK coins pool at the time of their PLK coins purchase.  This information will be found on www.plaak.com/ico
          </span>
        </p>
        <p class="P8">
          <span class="T6">PLAAK Team Will Not Purchase PLK During ICO.
          </span>
        </p>
        <p class="P6">
          <span class="T4">The PLAAK Team warrants that it will not purchase PLK coins in its own sale. Furthermore, The PLAAK Team warrants that it will not purchase PLK coins from any third party, or acquire PLK coins in any manner, or acquire future control of PLK coins, during the period of the ICO.
          </span>
        </p>
        
        <p class="P6">
          <span class="T6">All Purchases of PLK coins Are Non-Refundable
          </span>
        </p>
        <p class="P6">
          <span class="T6">ALL PURCHASES OF PLK COINS ARE FINAL. PURCHASES OF PLK COINS ARE NON-REFUNDABLE. BY PURCHASING PLK COINS, THE PURCHASER ACKNOWLEDGES THAT NEITHER PLAAK BLOCKCHAIN PLATFORM NOR ANY OTHER OF THE PLAAK TEAM &amp; PARTIES ARE REQUIRED TO PROVIDE A REFUND FOR ANY REASON, AND THAT THE PURCHASER WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR ANY PLK THAT IS NOT USED OR REMAINS UNUSED.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Taxation of PLK coins and Taxation Related to the ICO
          </span>
        </p>
        <p class="P6">
          <span class="T4">The Purchaser (you) bears the sole responsibility to determine if the purchase of PLK coins with ERC20 or the potential appreciation or depreciation in the value of PLK coins over time has tax implications for the Purchaser in your home jurisdiction. By purchasing PLK coins, and to the extent permitted by law, the Purchaser agrees not to hold any of the PLAAK Team &amp; Parties liable for any tax liability associated with or arising from the purchase of PLK coins.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Privacy
          </span>
        </p>
        <p class="P6">
          <span class="T4">PLAAK will not disclose any of your personal information including how many PLK coins you have purchase without your prior consent either verbal or written.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Disclaimer of Warranties
          </span>
        </p>
        <p class="P6">
          <span class="T4">The purchaser (you) expressly agrees that you are purchasing PLK coins at the sole risk and PLK coins is provided on an “AS IS” basis without warranties of any kind, either express or implied, including, but not limited to warranties of title or implied warranties, merchantability or fitness for a particular purpose without limiting the foregoing, none of the PLAAK team and parties warrant that process for purchasing
          </span>
        </p>
        <p class="P8">
          <span class="T6">Limitations Waiver of Liability
          </span>
        </p>
        <p class="P6">
          <span class="T4">The purchaser acknowledges and agrees that, to the fullest extent permitted by any applicable law, the disclaimers of liability contained herein apply to any and all damages or injury whatsoever caused by or related to use of, or inability to use, PLK coins or the plaak team &amp; parties under any cause or action whatsoever of any kind in any jurisdiction, including, without limitation, actions for breach of warranty, breach of contract or tort (including negligence) and that none of the plaak parties shall be liable for any indirect, incidental, special, exemplary or consequential damages, including for loss of profits, goodwill or data, in any way whatsoever arising out of the use of, or inability to use, or purchase of, or inability to purchase, PLK coins. The purchaser further specifically acknowledges that the PLAAK Team &amp; Parties are not liable for the conduct of third parties, including other purchasers of PLK coins, and that the risk of purchasing and using PLK coins rests entirely with the purchaser. To the extent permissible under applicable laws, under no circumstances will any of the PLAAK Team &amp; Parties be liable to any purchaser for more than the amount the purchaser has paid to the PLAAK Blockchain platform for the purchase of PLK coins. some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for certain types of damages. therefore, some of the above limitations in this section and elsewhere in the terms may
          </span>
          <span class="T4">not apply to a purchaser. in particular, nothing in these terms shall affect the statutory rights of any purchaser or exclude injury arising from any wilful misconduct or fraud of the PLAAK Team.
          </span>
        </p>
        
        <p class="P8_borderEnd">
          <span class="T6">Force Majeure
            <br/>
          </span>
          <span class="T4">The PLAAK Team is not liable for failure to perform solely caused by:
          </span>
        </p>
        <ul>
          <li>
            <span class="T4">- unavoidable casualty,</span>
          </li>
          <li>
            <span class="T4">- delays in delivery of materials,</span>
          </li>
          <li>
            <span class="T4">- embargoes,</span>
          </li>
          <li>
            <span class="T4">- government orders,</span>
          </li>
          <li>
            <span class="T4">- acts of civil or military authorities,</span>
          </li>
          <li>
            <span class="T4">- acts by common carriers,</span>
          </li>
          <li>
            <span class="T4">- emergency conditions (including weather conditions),</span>
          </li>
          <li>
            <span class="T4">- or any similar unforeseen event that renders performance commercially implausible.</span>
          </li>
        </ul>
        <p class="P6_borderStart">
          <span class="T4">If an event of force majeure occurs, the party injured by the other’s inability to perform may elect to suspend the Agreement, in whole or part, for the duration of the force majeure circumstances. The party experiencing the force majeure circumstances shall cooperate with and assist the injured party in all reasonable ways to minimize the impact of force majeure on the injured party.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Complete Agreement
          </span>
        </p>
        <p class="P6">
          <span class="T4">These Terms set forth the entire understanding between each Purchaser and The PLAAK Team with respect to the purchase and sale of PLK coins. For facts relating to the sale and purchase, the Purchaser agrees to rely only on these two documents in determining purchase decisions and understands that these documents govern the sale of PLK coins and supersede any public statements about the ICO made by third parties or by the PLAAK Team or individuals associated with any of the PLAAK Team &amp; Parties, past and present and during the ICO.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Severability
          </span>
        </p>
        <p class="P6">
          <span class="T4">The Purchaser and the PLAAK Team agree that if any portion of these Terms is found illegal or unenforceable, in whole or in part, such provision shall, as to such jurisdiction, be ineffective solely to the extent of such determination of invalidity or unenforceability without affecting the validity or enforceability thereof in any other manner or jurisdiction and without affecting the remaining provisions of the Terms, which shall continue to be in full force and effect.
          </span>
        </p>
        <p class="P8">
          <span class="T6">No Waiver
          </span>
        </p>
        <p class="P6">
          <span class="T4">The failure of the PLAAK Team to require or enforce strict performance by the Purchaser of any provision of these Terms or the PLAAK Team’s failure to exercise any right under these agreements shall not be construed as a waiver or relinquishment of the PLAAK Team 's right to assert or rely upon any such provision or right in that or any other instance. The express waiver by the PLAAK Team of any provision, condition, or requirement of these Terms shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement. Except as expressly and specifically set forth in this these Terms, no representations, statements, consents, waivers, or other acts or omissions by the PLAAK Team shall be deemed a modification of these Terms nor be legally binding.
          </span>
        </p>
        <p class="P6">
          <span class="T6">Updates to the Terms and Conditions of the PLK COINS ICO
          </span>
        </p>
        <p class="P6">
          <span class="T4">The PLAAK Team reserves the right, at its sole discretion, to change, modify, add, or remove portions of the Terms at any time during the sale by posting the amended Terms on the PLAAK websites (
          </span>
          <a href="https://plaak.com" class="Internet_20_link">
            <span class="T7">https://plaak.com
            </span>
          </a>
          <span class="T4">,
          </span>
          <a href="https://icoweb.plaak.com" class="Internet_20_link">
            <span class="T7">https://icoweb.plaak.com
            </span>
          </a>
          <span class="T4">). Any Purchaser will be deemed to have accepted such changes by purchasing PLK coins. The Terms may not be otherwise amended except in a signed writing executed by both the Purchaser and the PLAAK Team. For purposes of this agreement, "writing" does not include an e-mail message and a signature does not include an electronic signature. If at any point you do not agree to any portion of the then-current version of the terms, you should not purchase PLK coins.
          </span>
        </p>
        <p class="P8">
          <span class="T6">Cooperation with Legal Authorities
          </span>
        </p>
        <p class="P6">
          <span class="T4">The PLAAK Team will cooperate with all law enforcement enquiries, subpoenas, or requests provided they are fully supported and documented by the law in the relevant jurisdictions. In accord with one of the core principles of the PLAAK project — transparency — the PLAAK Team will endeavour to publish any legal enquiries upon receipt.
          </span>
        </p>
        <p class="P8_borderEnd">
          <span class="T6">Further Information
            <br/>
          </span>
          <span class="T4">                                                                                                                                                                                   For further information regarding the PLK coins sale, please contact the support team at
          </span>
          <a href="http://support@plaak.com" class="Internet_20_link">
            <span class="T7">http://support@plaak.com
            </span>
          </a>
          <span class="T4"> or by submitting an enquiry via our website
          </span>
          <a href="https://plaak.com" class="Internet_20_link">
            <span class="T7">https://plaak.com
            </span>
          </a>
          <span class="T4">
          </span>
        </p>
        <p class="Standard">
        </p>
        </div>
        </div>
        