<div class="container" style="margin-bottom: 20px;">
	<div class="row">
		<div class="col-xs-8 col-sm-8">
			<h3>
				Welcome to PLAAK's Referral Program
			</h3>

			<p style="padding-top: 10px;">
				PLAAK offers a special referral program, you will receive 15% of the amount of PLK which the referred user has bought. To participate in this referral program please use the Referral URL given below.

			</p>
			<br>
			<div class="card card-body" style="width: 100%">
				<h5 style="color: #ED3C24">How the Referral Program Works?</h5>

				<div class="row text-center" style="padding-top: 20px; padding-bottom: 25px;">
					<div class="col-lg-4">
						<img class="transform" src="assets/img/referral/add-user.svg" height="75px;" style="margin-bottom: 10px;" />
						<p>
							Invite your friend 'Steve' using the Unique URL
						</p>
					</div>
					<div class="col-lg-4">
						<img class="transform" src="assets/img/referral/shopping-cart.svg" height="75px;" style="margin-bottom: 10px;" />
						<p>
							Steve buys X amount of PLK
						</p>
					</div>
					<div class="col-lg-4">
						<img class="transform" src="assets/img/referral/pla.svg" height="75px;" style="margin-bottom: 10px;" />
						<p>
							You will get 15% of X, feel Rich yet?
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div style="background-color: #eaeaea; padding: 20px;border-radius: 10px">

							<div style="float:left;">
								<h5 style="padding-top: 7px;">Unique Referral URL</h5>
							</div>
							<div class="row" style="float:right;width: 65%;">
								<input type="text" class="plk-refferal-text col-sm-8 refferal-code " [class.select-text]="isCopied" [value]="referralURL">
								<span class="copy col-sm-3" ngxClipboard [cbContent]="referralURL"
								 (cbOnSuccess)="isCopied = true">{{isCopied ? 'Copied' : 'Copy'}}</span>
							</div>

							<div style="clear:both"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4"> 
			 <div class="card card-body black-bg text-center">
				<h4>TOTAL PLK Earned</h4>
				<h3>{{totalReferrals}} <svg width="23px" height="18px" viewBox="0 0 23 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch
					<defs></defs>
					<g id="Letter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-155.000000, -80.000000)">
						<g id="logo-copy" transform="translate(155.000000, 80.000000)" fill="#EF3A24" fill-rule="nonzero">
							<path d="M15.689775,11.9641628 L9.0275078,12.0010116 L7.64936182,16.3270634 L5.46054174,16.3270634 L7.42826889,9.89325896 L15.6824052,9.89325896 C17.5322161,9.89325896 18.3797391,8.18347357 18.3797391,6.59160442 C18.3797391,4.4543727 17.2005767,3.89427059 15.3581356,3.89427059 L3.71390754,3.89427059 L3.17591472,5.6187955 L15.2991775,5.6187955 C16.2940957,5.6187955 16.5372979,6.06098137 16.5372979,6.84954619 C16.5372979,7.31384135 16.2940957,8.12451546 15.0854543,8.12451546 C13.4641061,8.12451546 6.19014844,8.10240616 6.19014844,8.10240616 L3.21276354,18 L8.96117992,18 L10.2951073,13.7992342 C10.2951073,13.7992342 14.4074359,13.7329063 15.4907913,13.7329063 C18.3281507,13.7329063 22.2857143,10.9766144 22.2857143,6.69478113 C22.2857143,2.05182944 19.1461946,0.0619930037 16.1835492,0.0619930037 C13.2946015,0.0619930037 0.589127352,0.0104046516 0.589127352,0.0104046516 L0.0142857143,1.86021556 C0.0142857143,1.86021556 6.24910655,1.86021556 16.5151886,1.86021556 C18.6745296,1.86021556 20.4580127,3.57737071 20.4580127,6.66530207 C20.4580127,9.02362674 18.3871088,11.9641628 15.689775,11.9641628 Z" id="Shape"></path>
						</g>
					</g>
				</svg>
				</h3>
				<img src="assets/img/referral/coin.png">
			</div> 

			 <div class="card card-body" style="margin-top: 20px;" >
				<table class="table table-borderless text-center">
					<thead>
						<tr>
							<th class="reffered-table-heading" style="font-size: 20px; color: #4c4c4c;"><b>Referred Users</b></th>
							<th>PLK Earned</th>
						</tr>
					</thead>
					<tbody>
						<tr class="reffered" *ngFor="let ref of referredUsers">
							<td style="text-align: left;"> {{ref.DisplayEmail}}</td>
							<td >{{ref.tokens}}</td>
						</tr>						
					</tbody>
				</table>
			</div> 
		 </div> 
	</div>
</div>