.refferal-code {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.copy {
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #bdbdbd;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #ffffff;
    color: #ED3C24;
}

.select-text {
    color: #ffffff;
    background-color: #ed3c24cc !important;
}

/* .reffered{ */
    /* border-bottom: 1px solid #eaeaea; */
/* } */

thead {
    border-bottom: 1px solid #eaeaea;
}

.plk-logo {
    position: relative;
    left: 185px;
    bottom: 43px;
}

.reffered-table-heading
{
    font-size: 16px;
}

.transform {
    transition: all .2s ease-in-out;
}

.transform:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}