<div>
    <div class="row">
        <div class="col-md-8 user-settings">
            <!-- <h2>User settings for  -->
                <!-- <b>{{user?.login}}</b></h2> -->

            <form [formGroup]="frmUser" (ngSubmit)="save()" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" placeholder="Your first name" formControlName="firstName">
                    <validation-message [control]="frmUser.controls.firstName" [message]="'First Name'" [formSubmitted]="isFormSubmitted"></validation-message>

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Your last name" formControlName="lastName">
                    <validation-message [control]="frmUser.controls.lastName" [message]="'Last Name'" [formSubmitted]="isFormSubmitted"></validation-message>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Your last name" formControlName="email">
                    <validation-message [control]="frmUser.controls.email" [message]="'Email'" [formSubmitted]="isFormSubmitted"></validation-message>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" placeholder="Your phone number" formControlName="phoneNumber">
                    <validation-message [control]="frmUser.controls.phoneNumber" [message]="'Phone Number'" [formSubmitted]="isFormSubmitted"></validation-message>
                </div>
                <button type="submit" [disabled]="frmUser.invalid" class="btn save">Save</button>
            </form>
        </div>
    </div>

</div>