body {
    background-color: #fafbfd !important;
}

.dashboard-bg {
    background-color: #fafbfd !important;
}

.breadcrumb {
    background-color: transparent;
}

.red {
    border-radius: 6px;
    background-color: #ED3C24
}

.breadcrumb-item.active {
    color: #da3949;
}

.icon-bar {
    width: 120px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    border-right: 1px solid #000;
}

.icon-bar a img {
    width: 35px;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
}

.left-buy-with {
    background: #fff;
    color: #797e84;
}

.left-buy-with h1 {
    font-size: 20px;
    color: #4c4c4c;
}

.left-buy-with p {
    color: #dd333e;
}

.left-buy-with .button-green {
    background: #5add99;
    border-radius: 6px;
}

.left-buy-with .button-grey {
    background: #797e82;
    border-radius: 6px;
}

.right-history {
    background: #fff;
    color: #797e84;
}

.right-history h1 {
    font-size: 20px;
    color: #4c4c4c;
}

.wallet {
    padding-bottom: 30px;
}

.wallet .card-container:nth-child(odd) .card {
    background: #4d4d4d;
    color: white;
    height: 180px;
}

.wallet .white-body {
    color: #fff;
    bottom: 0px;
}

.wallet .card-container:nth-child(even) .card {
    background: #ef373f;
    color: white;
    height: 180px;
}

.wallet .othercoin {
    background: #4d4d4d;
    color: white;
    height: 180px;
}

.plk-card .card-text {
    color: #ff2f24;
    font-size: 70px;
}

.plk-card .coin {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.sell-table {
    border-bottom: 1px solid #4d4d4d !important;
    border-left: 0;
    border-right: 0;
}

.marginT50 {
    margin-top: 50px;
}

.border-left-1 {
    border-left: 1px solid;
}

.greeting-msg {
    padding: 10px 0px 30px 0px;
}

.greeting-msg .calendar {
    width: 70px;
    height: 68px;
}

.gallery-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 28px;
    width: 70px;
    height: 68px;
}

.gallery-text h3 {
    font-size: 40px;
    color: #ED3C24;
}

.greeting-msg .msg {
    font-size: 30px !important;
    padding-left: 30px;
    color: #ED3C24;
}

.greeting-msg .user {
    color: #ED3C24;
    font-size: 30px;
}

.greeting-msg .month {
    color: #ED3C24;
    margin: 0px;
}

.greeting-msg .year {
    color: #ED3C24;
    margin: 0px;
}

.greeting-msg-text h1{
  display: inline-block;
}

.card-body.Bitcoin {
  background: url('/assets/img/Tile_BTC.png') center;
  /* background-size: 348px 197px; */
  border-radius: 7px;
}

.card-body.Ethereum {
    background: url('/assets/img/Tile_ETH.png') center;
    /* background-size: 348px 197px; */
    border-radius: 7px;
}

.card-container {
    overflow: hidden;
    margin: 5px 0;
}

.dashboard-container {
  padding-left: 32px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .border-left-1 {
      border-left: 0px solid;
  }
  .greeting-msg .msg {
      font-size: 24px !important;
      padding-left: 20px;
      color: #eb344f;
  }

  .greeting-msg .user {
      color: #d64052;
      font-size: 24px;
      padding-left: 20px;
  }
  .greeting-msg-text h1{
    display: block;
  }
  .dashboard-container {
    padding-left: 0px;
    padding-bottom: 50px;
  }
}

.greetings-card {
    min-width: 100%;
    padding: 20px;
}

.date {
    background-color: #f44336;
padding: 10px;
text-align: center;
color: #ffffff;
font-size: 20px;
font-family: Montserrat;
float: right;
border-radius: 5px;
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.card {
    border-radius: 7px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.scroll::-webkit-scrollbar{
    background-color: #000000;
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #ED3C24;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
}

.plk-amount {
    padding: 5px;
    background-color: #f44336;
    color: #ffffff;
    border-radius: 7px;
}

.marginTop50px {
    margin-top: 50px;
}

.makingThingsCenterWithFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}