<div class="container" style="margin-bottom: 20px;">

	<div class="row dashboard-container">
		<div class="col-md-12">
			<div class="row">
				<div class="row" *ngIf="!hasAccountConfigured">
					<div class="alert alert-danger">
						Your User Account is not configured yet. Please configure it before you start buying tokens.
						<a [routerLink]="['../settings','user-account']">User Account Setup</a>
					</div>
				</div>	
				<div class="col-xs-12 card greetings-card">
					<div class="row">
						<div class="col-md-10">
							<h1>{{message}} {{user?.firstName}}</h1>
							<span>PLK balance: </span><span class="plk-amount">{{plaakBalance || 0 }}</span>
						</div>
						<div class="date pull-right col-md-1">
							{{date}}<br>
							{{month}}
						</div>
					</div>
				</div>

				<!-- <div class="col-xs-12 card greetings-card marginTop50px">
					<div class="row">
						<div class="col-md-10">
							<h5>Token Contract Address</h5>
							<p>0x96fc0229b1aab013000909143f079ab096d55317</p>
						</div>
						<div class="col-md-2 makingThingsCenterWithFlex">
							<button class="red btn"> <span class="form-title"> <a target="_blank" href="https://plaak.com/tokensalepage.php" style="color:#ffffff">Token Sale Guide</a></span></button>
						</div>
					</div>
				</div> -->
				
				<!-- <div class="greeting-msg" style="display: flex;">
					<img src="assets/img/Calendar.png" class="calendar" />

					<div class="gallery-text">
						<h3>{{date}}</h3>
						<h4 class="month">{{month}}</h4>
						<h4 class="year">{{year}}</h4>
					</div>
					<div class="greeting-msg-text">
						<h1 class="msg">{{message}},&nbsp;</h1>
						<h1 class="user">{{user?.firstName}}</h1>
					</div>
				</div> -->


			</div>
			<!-- <div class="row wallet" style="margin-top: 37px;">
				<div class="col-md-6 col-sm-6 col-xs-12 card-container" *ngFor="let key of cardCurrecies | objToArray">
					<div class="card ">
						<div class="card-body" [ngClass]='key'>
							<h4 class="card-title">{{key}}</h4>
							<div class="card-text white-body marginT50">
								<div class="row">
									<div class="col-md-6">
										Rates
										<br> 1 {{cardCurrecies[key].symbol}} {{ cardCurrecies[key].USDAmount |currency: 'USD'}}
										<br> 1 {{cardCurrecies[key].symbol}} {{cardCurrecies[key].tokenAmount | plaakcurrency}}
									</div>
									<div class="col-md-6 border-left-1">
										<div class="text-center">Average Daily</div>
										<div class="text-center">
											<i class="fa " [ngClass]="cardCurrecies[key].dailyAverage > 0 ? 'fa-caret-up' : 'fa-caret-down'" aria-hidden="true" [ngStyle]="{'color': cardCurrecies[key].dailyAverage > 0 ?   '#00bb00' : 'red'}"></i> {{ cardCurrecies[key].dailyAverage }}%
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<!-- <div class="col-md-4 text-center">
			<div class="card card-body plk-card">
				<h4 class="card-title">My PLK Balance</h4>
				<h4 class="card-text">
					<div>
						{{plaakBalance || 0 | number : '1.1-2'}}
						<img src="assets/img/plk-logo.png" style="width:34px;height:28px; vertical-align: baseline;">
					</div>
				</h4>
				<img class="coin" src="assets/img/plk-bitcoin.png" alt="coins" />
			</div>
		</div> -->
	</div>
	
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5">
				<div style="padding-right: 10px;" class="card left-buy-with">

					<div style="padding: 16px">
						<h1 style="float: left; color: #000000;padding:8px 0px 0px 8px;">Buy PLK Token</h1>

						<p style="float: right;">
							<input placeholder="Search" type="text" #search (input)="filterBuy(search.value)" />
						</p>
					</div>

					<div style="clear: both;"></div>

					<div class="scroll" style="max-height: 300px; overflow: auto;padding: 16px;">
						<ul class="list-group">
							<li class="list-group-item sell-table" *ngFor="let key of coinPaymentRates | objToArray; let isEven = even">
								<div *ngIf="key.toLowerCase() !== usd">
									<img src="assets/img/CryptoCoins/{{key}}.svg" alt=""> {{coinPaymentRates[key].name}} ({{key}})
									<button class="pull-right btn btn-sm" (click)="buyToken(key)" [ngClass]="isEven?'red':'button-grey'">BUY</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div style="padding-right: 10px;" class="card right-history">
					<div style="padding: 16px">
						<h1>Recent History</h1>
					</div>
					<div class="scroll" style="max-height: 300px; overflow: auto">
						<table class="table table-bordered">
							<thead>
								<td>Day</td>
								<td>To/From</td>
								<td>Amount</td>
							</thead>
							<tbody>
								<tr *ngFor="let item of transactions">
									<td> {{item.transactionDate| date: 'MMM dd' }} </td>
									<td>{{item.toAddress}} / {{item.fromAddress}}</td>
									<td>
										<span class="badge red">
											{{item.amount}}
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>