@font-face {
    font-family: 'ubuntubold';
    src: url('assets/fonts/ubuntu-b-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('assets/fonts/ubuntu-bi-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_condensedregular';
    src: url('assets/fonts/ubuntu-c-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('assets/fonts/ubuntu-l-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('assets/fonts/ubuntu-li-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-li-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('assets/fonts/ubuntu-m-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('assets/fonts/ubuntu-mi-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-mi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monobold';
    src: url('assets/fonts/ubuntumono-b-webfont.woff2') format('woff2'), url('assets/fonts/ubuntumono-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monobold_italic';
    src: url('assets/fonts/ubuntumono-bi-webfont.woff2') format('woff2'), url('assets/fonts/ubuntumono-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('assets/fonts/ubuntumono-r-webfont.woff2') format('woff2'), url('assets/fonts/ubuntumono-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monoitalic';
    src: url('assets/fonts/ubuntumono-ri-webfont.woff2') format('woff2'), url('assets/fonts/ubuntumono-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('assets/fonts/ubuntu-r-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('assets/fonts/ubuntu-ri-webfont.woff2') format('woff2'), url('assets/fonts/ubuntu-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    /*	background-color: #b4b1ac;*/
    font-family: 'ubuntumedium';
    height: 100%;
}

.login-container {
    /*border-radius: 20px;
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
  margin-bottom: 20px;*/
}

.black-gradient {
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 23%, rgba(26, 26, 26, 1) 52%, rgba(28, 28, 28, 1) 58%, rgba(43, 43, 43, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(23%, rgba(17, 17, 17, 1)), color-stop(52%, rgba(26, 26, 26, 1)), color-stop(58%, rgba(28, 28, 28, 1)), color-stop(100%, rgba(43, 43, 43, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 23%, rgba(26, 26, 26, 1) 52%, rgba(28, 28, 28, 1) 58%, rgba(43, 43, 43, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 23%, rgba(26, 26, 26, 1) 52%, rgba(28, 28, 28, 1) 58%, rgba(43, 43, 43, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 23%, rgba(26, 26, 26, 1) 52%, rgba(28, 28, 28, 1) 58%, rgba(43, 43, 43, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 23%, rgba(26, 26, 26, 1) 52%, rgba(28, 28, 28, 1) 58%, rgba(43, 43, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2b2b2b', GradientType=1);
}

.login-container .left-part {
    background-color: #000;
    /*	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;*/
    color: #fff;
}

.login-container p {
    padding-top: 10px;
    font-size: 20px;
}

.login-container .right-part {
    background-color: #e42f36;
    /*border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;*/
    padding: 20px 60px 0px 60px;
    color: #fff;
}


.login-container .login-form {
    padding-top: 50px;
}

.login-container h3 {
    padding-top: 100px;
}

.cst_form_group {
    margin-bottom: 3.5rem !important;
}

.cst_form_group_last {
    margin-bottom: 0rem !important;
}

.cst_label {
    color: white !important;
}

.cst_input_text {
    color: white !important;
}

input::-webkit-input-placeholder {
    color: #e6e6e6 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #e6e6e6 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6e6e6 !important;
}

input:-ms-input-placeholder {
    color: #e6e6e6 !important;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #cb2730;
    box-shadow: 0 1px 0 0 #cb2730;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-brown {
    background-color: #a21d25!important;
}

.btn-brown:focus,
.btn-brown:active,
.btn-brown.active {
    background-color: #a21d25!important;
}

.btn-brown:hover {
    background-color: #a21d25 !important;
}

.btn-gray {
    background-color: #b4afac!important;
}

.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
    background-color: #b4afac!important;
}

.black-bg-left {
    background-image: url('assets/img/splash.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.md-checkbox {
    position: relative;
    margin: 16px 0;
}

.md-checkbox label {
    cursor: pointer;
}

.md-checkbox label:before,
.md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.md-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #a21d25;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
}

.md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
}

.md-checkbox input[type="checkbox"]:checked+label:before {
    background: #a21d25;
    border: none;
}

.md-checkbox input[type="checkbox"]:checked+label:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid #520f13;
    border-top-style: none;
    border-right-style: none;
}

a.btn-social,
.btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa,
.btn-social i {
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}

.btn-social:hover,
.btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa,
.btn-social:focus .fa,
.btn-social:hover i,
.btn-social:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.btn-social.btn-xs {
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}

.btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}

.btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-google-plus {
    background-color: #dc4e41;
}

@media (max-width: 575px) {
    .left-part {
        display: none;
    }
    .login-container .right-part img {
        text-align: center;
        display: block;
        margin: auto;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .left-part {
        display: none;
    }
    .login-container .right-part img {
        text-align: center;
        display: block;
        margin: auto;
        padding-bottom: 40px;
    }
}

.announcement {
    background-color: #ff4948;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 12px;
}

.announcement i {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    color: #000;
}

.round-search {
    border: 1px solid #000 !important;
    border-radius: 20px !important;
    padding: 8px !important;
    width: 230px !important;
    padding-left: 40px !important;
}

.dropdown.show .dropdown-menu {
    display: block !important;
    opacity: 1 !important;
    transition: 0.55s !important;
}

.dropdown-menu .dropdown-menu-right .dropdown-purple {
    display: block !important;
}

.btn-round {
    border-radius: 20px;
}

.gradient-btn-plk {
    background-color: #C42406;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C42406), to(#E72C03));
    background-image: -webkit-linear-gradient(top, #C42406, #E72C03);
    background-image: -moz-linear-gradient(top, #C42406, #E72C03);
    background-image: -ms-linear-gradient(top, #C42406, #E72C03);
    background-image: -o-linear-gradient(top, #C42406, #E72C03);
    background-image: linear-gradient(to bottom, #C42406, #E72C03);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#C42406, endColorstr=#E72C03);
}

.link-color {
    text-decoration: none;
    color: #000;
}

.link-color:hover {
    text-decoration: none;
    color: #ee472f;
}

.plk-refferal-text {
    background: white !important;
    border-radius: 7px !important;
    padding: 5px !important;
}

.black-bg {
    background: #1c1c1c;
}

.black-bg h3 {
    color: #ed3c24;
    font-weight: 300;
}

.black-bg h4 {
    color: #fff;
}

.black-bg img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 15%;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;
}

.p0 {
    padding: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #ED3C24;
}

.load-3 {
    width: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    z-index: 2000;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC .6s .1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC .6s .2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC .6s .3s linear infinite;
}

@keyframes loadingC {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}